[flash-message] {
  $padding: 1.5rem;
  $closeZone: 4rem;

  .alert {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $alertZIndex;
    display: block;
    width: 100%;
    padding: $padding ($closeZone + $padding) $padding $padding;
    font-size: 1.5rem;
    font-weight: 300;
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    opacity: 1;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease, opacity .3s ease;

    > span {
      padding-right: 0.5rem;
    }
    .close {
      position: absolute;
      top: 50%;
      right: $padding;
      line-height: 1em;
      margin-top: -0.1em;
      font-size: 3.5rem;
      font-weight: 100;
      background: transparent;
      color: inherit;
      opacity: .7;
      cursor: pointer;
      transform: translate3d(0, -50%, 0);
    }
    .sr-only {
      display: none; // otherwise it brakes the layout
    }

    // We have various states
    &.alert-danger {
      background: #E66659;
      color: #fff;
    }
    &.alert-success {
      background: #79C39A;
      color: #fff;
    }
    &.alert-info {
      background: #EAEAEC;
      color: #8C8F97;
    }

    // Override the effect, slide down with smooth fade in
    &.ng-hide {
      display: block !important;
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
    > span .message {
      font-weight: $font-bold;
    }
    > span .detail {
      font-weight: $font-light;
    }
  }
}
