.articleContainer {
  background: #fff; min-height: 1vh; font-size: 4em; padding: 1em; line-height: 1.5em;

  .headsUp { text-align: center; }

  .title {
    color: #55555D; font-size: 2em; margin: 0 0 0.5em;
    font-weight: 700; // TODO: we don't have Roboto 700 yet
  }

  .company-logo {
    display: block; width: 50%; margin: 0 auto 1em; background-size: contain; background-position: center center; background-repeat: no-repeat;
    &:before { display: block; content: ""; padding-bottom: 100%; }
  }

  p, dl { font-size: 0.8em; font-weight: 300; line-height: 1.2em; }

  p { margin-bottom: 1em; }

  dl {
    margin-top: 0.8em;
    >dt { font-weight: 500; }
    >dd { margin: 0 0 0.8em 1em; }
  }

  ul { margin-left: 3rem; list-style-type: disc; }

  h2.textCenter { text-transform: uppercase; }

  @media #{$tabletS} {
    font-size: 29px;
  }
  @media #{$phoneL} {
    font-size: 20px;
  }
  @media #{$phoneS} {
    font-size: 16px;
  }
}
