.beta-test-discalimer {
	padding: 0;
	border-radius: 0;
}

.ngdialog.beta-test-disclaimer {
	padding-top: 0;

	.ngdialog-content {
    overflow: hidden;
    top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;

    .ngdialog-close {
    	position: absolute;
	    top: 0;
	    right: 0;
	    display: inline-block;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;

	    &:before {
  	    background: transparent;
		    border-radius: 3px;
		    color: #fff;
		    content: '\00D7';
		    font-size: 26px;
		    font-weight: 400;
		    height: 30px;
		    line-height: 30px;
		    position: absolute;
		    right: 3px;
		    text-align: center;
		    top: 3px;
		    width: 30px;
	    }
    }
	}
}

.disclaimerTop {
	line-height: 40px;
  background: $brandPrimary;
  color: $white;
  font-weight: bold;
  font-size: 14px;
  padding: 0 40px 0 16px;

  .btn-close {
  	width: 22px;
  	height: 22px;
  }
}

.disclaimerContent {
	padding: 16px 12px;
  color: #21202c;
  font-size: 14px;
  line-height: 1.5;

  a {
  	color: $brandPrimary;
  }
}