.callWaiter {
  font-size: $font-size-normal;
  font-weight: $font-light;
  .callwaiter-message {
    width: 100%;
    margin: 3rem 0 1.5rem 0;
    textarea {
      line-height: $line-height !important;
      align-items: flex-start;
      border-width: 0 0 0.15rem 0;
      border-style: solid;
      border-color: #dedcd7;
      box-sizing: border-box;
      color: #555;
      display: block;
      font: 300 1.5em;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      resize: none;
      vertical-align: top;
      width: 75%;
      &.ng-invalid.ng-dirty { border-color: #ed1010; }
    }
  }
}
