.counter {
  display: flex;
  border-radius: 4px;
  padding: 0 0.5em;
  background: $brandPrimary;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  width: 80px;
  height: 26px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .add-button {
    cursor: pointer;
  }

  .quantity-button {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;

    .modify {
      font-size: 1.4em;
      &:first-child {
        padding-top: 1px;
      }
      &:hover{
        cursor: pointer;
      }
    }

    .quantity-value {
      flex: 1;
      text-align: center;
    }
  }

  &.extra-counter {
    float: right;
    background-color: #fff;
    color: #21202c;
  }
}

