.dishOptions {
  margin: 0 8px;

  .option {
    background-color: #f1f1f7; @include border-radius(2px); margin: 0 2.5px; font-weight: 300;
    padding: 14px 40px; float: left; line-height: 65px; cursor: pointer; color: #a2a2ae;
    &.selected { color: #ffffff; background-color: #a2a2ae; font-weight: 400; }
    &.free { font: 300 4.2em / 1; min-width: 212px; padding: 29px 40px; }
  }

  .name { font: 300 4.2em / 1.8; float: left;  margin-right: 15px; }
  .price { position: relative; display: block; font: 300 6.5em / 1; float: right; }
  .currency { font: 300 0.65em / 1; margin-right: 8px; }
  .cent { font: 300 0.6em; position: relative; top: -19px; right: 0; }
}


// MEDIA QUERIES

@media #{$tabletM} {
  .dishOptions {
    font-size: 8px;
    .option {
      padding: 5px 40px;
      &.free { padding: 15px 40px; }
    }
    .cent { top: -15px; }
  }
}


@media #{$tabletS} {
  .dishOptions {
    font-size: 6px;
    .cent { top: -10px; }
  }
}


@media #{$phoneXL} {
  .dishOptions {
    font-size: 5px;
    .option {
      &.free { padding: 13px 15px; min-width: 0; width: auto; }
      &.paid { padding: 5px 15px; }
    }
    .currency { margin-right: 0; }
    .cent { top: -9px; }
  }
}


@media #{$phoneL} {
  .dishOptions .option { margin: 1.5px; }
}


@media #{$phoneM} {
  .dishOptions {
    font-size: 4px;
    .option.free { padding: 11.5px 15px; }
    .cent { top: -8px; }
  }
}
