.overlay {
  position: fixed; overflow: auto; left: 0; top: 0; right: 0; bottom: 100%; z-index: 1000;
  opacity: 0; transition: opacity 0.3s ease, bottom 0.1s ease 0.3s;
  background-color: rgba(0,0,0,.6);

  .modal {
    position: absolute; left: 50%; top: -100%; transition: top 0.3s ease; transform: translate(-50%, -50%);
    width: 80%; background: #fff; box-sizing: border-box; padding: 1em;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,.5);

    .confirmation {
    font-size: 4vw;
    font-weight: 300;

      .content {
        padding: 1.7rem;
        font-size: 1.8rem;
        line-height: 1.7;
      }
    }

    .actions {
      font-size: 4vw;
      font-weight: 300;
      padding: 1em;

      &:after {
        display: block;
        content: "";
        clear: both;
      }

      .flat {
        float: right;
        font-size: inherit;
        font-weight: 400;
        background: transparent;
        color: #999;

        + .flat {
          margin-right: 1em;
        }

        &.primary {
          color: $brandPrimary;
        }
      }
    }
  }

  &.active {
    bottom: 0; opacity: 1; transition: opacity 0.3s ease;

    .modal { top: 50%; }
  }
}
