$sideBarBackgroundColor: #221E2B;

.navContainer {
  width: 50%;
  background: $sideBarBackgroundColor;
  color: #fff;
  padding: 1rem 4rem;

  .close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3.5rem;
    font-weight: 100;
    line-height: 0.1;
    color: $brandPrimary;
    cursor: pointer;
  }

  // This scrollie is here to help with the sticky footer,
  // the idea is this should always fill the container,
  // that's all :-D
  .scrollie {
    height: auto;
    min-height: 100%;
  }

  .company {
    .logo {
      display: block;
      width: 50%;
      margin: 0 auto;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;

      &:before {
        display: block;
        content: "";
        padding-bottom: 100%; // image ratio of 1x1
      }
    }

    .title {
      margin-top: 1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
      color: #6c6b6d;
    }
  }

  // The main nav
  ul.nav {
    margin-top: 3rem;

    @media #{$phoneS} {
      margin-top: 1.8rem;
    }

    @media #{$phoneXS} {
      margin-top: 1.2rem;
    }

    li.separator {
      border-top: 1px solid rgba(255, 255, 255, .2);
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    a {
      font-size: 2.5rem;
      font-weight: 100;
      line-height: 1.8em;
      color: inherit;
      text-decoration: none;

      @media #{$phoneS} {
        font-size: 2.2rem;
        line-height: 1.6em;
      }

      @media #{$phoneXS} {
        font-size: 1.8rem;
        line-height: 1.4em;
      }

      .badge {
        display: block;
        font-size: 0.6em; // should be relative to the <a> font size
        font-weight: 700;
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        text-align: center;
        color: $brandPrimary;
        border: 2px solid $brandPrimary;
        border-radius: 5px;
        box-sizing: content-box; // we need a square 1.5 x 1.5, no border counted
      }
    }
  }

  // The .madeBy is actually swish logo,
  // much like the company logo,
  // should stay in the center
  .madeBy {
    display: block;
    width: 50%;
    margin: 3rem auto 1rem;
    background-color: transparent;
    background-image: url('../img/swish_logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    text-indent: 100vw;

    @media #{$phoneS} {
      margin-top: 1.8rem;
    }

    @media #{$phoneXS} {
      margin-top: 1.2rem;
    }

    &:before {
      display: block;
      content: "";
      padding-bottom: percentage(48 / 367); // the swish_logo.png is 366px x 48px
    }

    // TODO what this <p> text for?
    p {
      display: none;
    }
  }

  @media #{$tabletL} {
    width: 75%;
  }

  @media #{$phoneXL} {
    width: 100%;
  }
}
