.orderInfo {
  &.left { float: left; }
  &.right { float: right; }

  .dateTime {
    font-weight: 400; font-size: 4em;
    .time { color: #111; }
    .date { color: #111; font-weight: bold; }
  }

  .orderNumber {
    font-weight: 300; font-size: 4em; padding-bottom: 0.5em;
    span { font-size: 1.35em; font-weight: bold; color: #111; }
  }

  .price { font-size: 6.5em; font-weight: bold; color: #111; }

  .checkStatus {
    font-size: 4em; color: $brandPrimary;
  }
}

.buttonArea {
  background: #fff;
}

// MEDIA QUERIES

@media #{$tabletS} {
  .orderInfo .time { margin-right: 40px; }
}


@media #{$phoneM} {
  .orderInfo {
    .orderStatus, .orderNumber, .dateTime { font-size: 3.5em; }
    .orderNumber span, .dateTime .time { font-size: 1.1em; }
    .price { font-size: 3.5em; }
  }
}
