.orderItemBlock {
  float: left; background: #fff;

  .image {
    font-size: 2em;
    position: relative;
    width: 150px;
    height: 150px;
    padding-top: 1em;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    .item-default-icon {
      width: 7em;
      height: 7em;
    }
  }

  .text { display: inline-block; vertical-align: middle; margin-left: 30px; max-width: 65%; }

  .name { font-size: 4.2em; font-weight: 300; color: #3a444a; }

  .topping { font-style: italic; font-weight: 300; font-size: 3.6em; font-style: italic; color: #9e9e9e; }
}


// MEDIA QUERIES

@media #{$tabletM} {
  .orderItemBlock {
    .image { @include transform(scale(0.7)); }
    .text { margin-left: 0; }
  }
}


@media #{$tabletS} {
  .orderItemBlock {
    .image { left: -10px; }
    .text { margin-left: -25px; }
  }
}


@media #{$phoneXL} {
  .orderItemBlock {
    .image {
      width: 80px; height: 80px; left: -10px; @include transform(scale(0.6));
    }
    .text { margin-left: -20px; }
  }
}


@media #{$phoneM} {
  .orderItemBlock {
    .text { font-size: 3.5px; }
    .name { font-size: 4em; }
  }
}

@media #{$phoneS} {
  .orderItemBlock {
    .image { width: 60px; height: 60px; @include transform(scale(1)); }
    .text { max-width: 80%; margin-left: 5px; }
  }
}
