// Panning box
//
// Style guide: Panning box
.panningBox {
  overflow: hidden;


  // A side pane in an `.overlap` panning box when `.active` should, well,
  // overlap the main pane
  //
  // Markup:
  // <div class="panningBox overlap">
  //   <div class="panningHelper">
  //     <div class="panningPane side left">
  //       Left side menu should be here, deactivated (hidden) by default,
  //       toggle `.showLeft` on `.panningBox` (or `.active` of this pane
  //       itself, for `.overlap` panningBox) to show/hide it.
  //     </div>
  //     <div class="panningPane main">
  //       Main content should be here. Also, please note an overlap panningBox
  //       may not need a `.panningHelper` wrapper, but would be a good idea to
  //       always have it, so we can switch between panningBox styles painlessly
  //     </div>
  //   </div>
  // </div>
  //
  // Style guide: Panning box.overlap
  &.overlap {
    > .panningPane, // .panningHelper is optional for .overlap, as mentioned
    > .panningHelper > .panningPane,
    > .panningHelper > .panningToggle > .panningPane {
      @extend %panningPaneAbstract;

      &.main {
        z-index: 10; // .main pane must be under .side in .overlap box
        overflow: hidden;
      }

      // Please note, as mentioned, a .side pane in .overlap could be toggled
      // by toggling either .active on itself, or .show* on .panningBox.
      &.side {
        z-index: 11;
        transition: transform .3s ease;

        // TODO implement .show* on .panningBox

        &.top {
          &.active {
            transform: translate3d(0, 100%, 0);
          }
        }

        &.right {
          &.active {
            transform: translate3d(-100%, 0, 0);
          }
        }

        &.bottom {
          &.active,{
            transform: translate3d(0, -100%, 0);
          }
        }

        &.left {
          &.active {
            transform: translate3d(100%, 0, 0);
          }
        }
      }
    }
  }


  // A shift (or off-canvas) panning box should *shift* itself to show side
  // panes, as in slide-to-show options in some mobile apps' list item
  // (Gmail android, for eg.)
  // TODO
  &.shift {
    // TODO support multiple pane sizes
    $tmpPaneSize: 15%;

    > .panningHelper > .panningPane,
    > .panningHelper > .panningToggle > .panningPane {
      @extend %panningPaneAbstract;

      &.side {
        &.top,
        &.bottom {
          height: $tmpPaneSize;
        }

        &.left,
        &.right {
          width: $tmpPaneSize;
        }
      }
    }

    > .panningHelper {
      transition: transform .3s ease;

      // Minor note, since SASS doesn't have the flexible simplicity of & as in
      // LESS, and doesn't replace the `&` at the end of a selector without a
      // leading space, `@at-root and #{&}` maybe the work around. However, #{&}
      // will grab the selector as a string (not a multi-path tree), this will
      // only work for single-path parent selectors.
      //
      // This is what we want to achieve, written in LESS
      // .panningBox {
      //   > .panningPane,
      //   > .panningHelper > .panningPane {
      //     .showTop& {
      //       // should become
      //       // .showTop.panningBox > .panningPane,
      //       // .showTop.panningBox > .panningHelper > .panningPane {}
      //       //
      //       // but the @at-root + #{&} work around in SASS will produce
      //       // .showTop.panningBox > .panningPane,
      //       // .panningBox > .panningHelper > .panningPane {}
      //     }
      //   }
      // }
      //
      @at-root {
        .showTop#{&} {
          transform: translate3d(0, $tmpPaneSize, 0);
        }

        .showRight#{&}{
          transform: translate3d(-$tmpPaneSize, 0, 0);
        }

        .showBottom#{&}{
          transform: translate3d(0, -$tmpPaneSize, 0);
        }

        .showLeft#{&}{
          transform: translate3d($tmpPaneSize, 0, 0);
        }
      }
    }

  }

  %panningPaneAbstract {
    box-sizing: border-box; // XXX should be global?
    overflow: auto;

    // Typically, we should have only one main pane at the center with the
    // main content, and it should fill the container. As mentioned, it will
    // be overlapped by side pane when one is active.
    &.main {
      @extend %panningBoxFill;
      position: relative;
    }

    // Side panes would be useful for side menus / extra options, so they are
    // hidden most of the time and only show up when `.active`. Please note
    // we have a few positions for a side pane (left, right ...)
    &.side {
      position: absolute;
      overflow: visible;

      &.top {
        bottom: 100%;
        left: 0;
        width: 100%;
      }

      &.right {
        top: 0;
        left: 100%;
        height: 100%;
      }

      &.bottom {
        top: 100%;
        left: 0;
        width: 100%;
      }

      &.left {
        top: 0;
        right: 100%;
        height: 100%;
      }
    }
  }

  // A helper isn't necessary all the time, but might be needed for `.shift`,
  // hence always use it for all the panning box types does sound like a good
  // practice, so we can switch between 'em by just toggling the class
  // .. TODO
  .panningHelper {
    @extend %panningBoxFill;
    position: relative;
    box-sizing: border-box;
  }
}

%panningBoxFill {
  width: 100%;
  height: 100%;
}

.panningToggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
