.ngdialog {
  padding-top: 100px;

  .ngdialog-content { overflow: hidden; top: -10rem; }
}

.popupContainer {
  font-size: 1.5em; line-height: 1.5em;

  p { font-size: 0.9em; font-weight: 300; line-height: 1.1em; margin-bottom: 0.5em; }

  ul { margin-left: 2rem; list-style-type: disc; }

  .popupContainerTop {
    padding: 10px 0;
  }

  .popupContent {
    overflow: auto; height: 20em;
    h2 {
      font-weight: bold; margin-bottom: 0.5rem;
    }
    h3 {
      &.textCenter { text-transform: uppercase; padding: 0.6em 0 1.2em; font-weight: bold;}
    }
    .popupContainerTitle {
      h3 {
        &.textCenter { padding-top: 1.8em;}
      }
    }
  }

  .btn { float: right; margin-right: 1em; margin-top: 1em; }

  /*@media #{$tabletS} {
    font-size: 29px;
  }
  @media #{$phoneL} {
    font-size: 20px;
  }
  @media #{$phoneS} {
    font-size: 16px;
  }*/
}

