.radio {
  $size: 15px;
  $color: #aaa;
  $lineHeight: 1.5 * $size;

  position: relative; display: block; padding-left: $size + 5px; cursor: pointer;

  &.inline {
    display: inline-block;
    & + & { margin-left: 5px; }
  }

  // The input delegator
  //   should be input[type="checkbox"] + i
  //   or input[type="checkbox"] ~ .radioImg
  input {
    display: none;

    + i, ~ .radioImg {
      position: absolute; top: 0; left: 0; display: block; width: $size; height: $lineHeight; line-height: $lineHeight;

      &:before, &:after {
        position: absolute; top: 50%; left: 50%; display: block; content: "";
        border-radius: 50%; box-sizing: border-box; transform: translate(-50%, -50%);
      }

      // .. the outer stroke (actually, the symbol itself)
      &:before {
        width: $size; height: $size; background: #fff; border: 2px solid $color; z-index: 10;
      }

      // .. the dot inside, :unchecked
      &:after {
        width: 0; height: 0; background: $color; transition: all 0.3s ease; z-index: 11;
      }
    }

    &:checked {
      + i, ~ .radioImg {
        // .. and finally the dot inside, :checked
        &:after { width: 0.45 * $size; height: 0.45 * $size; }
      }
    }
  }

  // The label
  //   should be either .radioLabel
  //   or input[type="checkbox"] + i + span
  input + i + span, .radioLabel {
    display: block; line-height: $lineHeight;
  }
}
