.selectBox {
  position: relative;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  color: #000;

  &.no-border{
    border: none;
  }

  select {
    height: 40px;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: #fff;
    color: inherit;
    border: 0;
    outline: none;
    -webkit-appearance: none;
  }

  &:after {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block;
    content: "";
    width: 0;
    height: 0;
    margin-top: -0.4rem;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.8rem solid #000;
  }

  .select-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 30px;
    height: 40px;
    z-index: 10;
    font-size: 1.4rem;
    line-height: 42px;
    padding-left: 1.2rem;
    background-color: #fff;
    pointer-events: none;
  }
}
