// Handy for `inline list, comma-separated list, space-separated list` for eg
// like the one mentioned above.
//
// Markup:
// <p>
//   In this .separated, we have:
//   <span class="separated comma">comma</span>
//   <span class="separated comma">space</span>
//   ...
// </p>
//
// Style guide: Separated
.separated {
  & + & {
    &:before {
      display: inline-block;
      margin-right: 0.3em;
    }

    &.comma:before {
      content: ",";
    }
  }
}
