.sortableHandler {
  $w: 15px;
  $h: 52px;
  display: none;
  width: $w;
  height: $h;
  background-image: url("../img/sortable_handler.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  width: $w * 0.8;
  height: $h * 0.8;

  @media #{$tabletM} {
    width: $w * 0.6;
    height: $h * 0.6;
  }

  @media #{$phoneL} {
    width: $w * 0.4;
    height: $h * 0.4;
  }

  @media #{$phoneS} {
    width: $w * 0.2;
    height: $h * 0.2;
  }
}
.sortable {
  .sortableHandler {
    display: block;
  }
}
