$transition-time: .3s;
$overlay-transition-time: .2s;
$sheet-position: 22.5rem;
$timing-function: cubic-bezier(.34, .73, .25, .98);

.topsheet {
  bottom: 0;
  color: #555;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.topsheet-container {
  background: $white;
  // height: $sheet-position;
  top: - $sheet-position;
  width: 100%;
  position: relative;

  .close {
    color: $grey;
    cursor: pointer;
    font-size: 3.5rem;
    font-weight: 100;
    line-height: .1;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }

  .topsheet-content {
    color: $grey;
  }

  &.open {
    top: 0;
    transition: $transition-time $timing-function all;
  }

  &.close {
    top: -$sheet-position;
    transition: $transition-time $timing-function all;
  }
}

.topsheet-overlay {
  animation: fadein .5s;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -2;

  &.show {
    opacity: 1;
    transition: $overlay-transition-time linear all;
  }

  &.hide {
    opacity: 0;
    transition: $overlay-transition-time linear all;
  }
}
