// TODO migrate to simple-flex-layout to make our lives easier
.topBarContainer {
  z-index: $topBarZIndex; // TODO
  width: 100%;
  background: #fff;
  -webkit-backface-visibility: hidden;
}

.topBar {
  position: relative; width: 100%;
  background: #201f2b;
  font-size: 1.5rem;
  height: 70px;
  display: flex;

  .openNav {
    flex: none;
    display: flex;
    width: 75px;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: 30%;
    }
  }

  .topBarIcon {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    @include background-size(100%, auto);
    margin-left: 0rem;
  }

  // CATEGORIE & PRODUCT
  .topText {
    position: relative;
    height: 100%;
    color: #ffffff;
    font-size: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    margin-left: 30px;
    z-index: 10;
    @media ($mediumds) {
      [translate="TRANSLATE.TITLE"] {
        font-size: 1.7rem;
      }
    }

    small {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 1.2rem;
      color: #999;
      line-height: 1.2em;
      @media ($smallds) {
        font-size: 11px;
      }
    }

    // TRANSLATE & CLEAR ALL
    &.topTextRight {
      display: initial;
      margin-right: 40px;
      margin-left: 0;
      right: 0;
      position: absolute;
      right: 0;
      min-width: 30px;
      background: -moz-linear-gradient(359deg, rgba(32,31,43,0) 0%, rgba(32,31,43,1) 51%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32,31,43,0)), color-stop(51%, rgba(32,31,43,1))); /* safari4+,chrome */
      background: -webkit-linear-gradient(359deg, rgba(32,31,43,0) 0%, rgba(32,31,43,1) 51%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(359deg, rgba(32,31,43,0) 0%, rgba(32,31,43,1) 51%); /* opera 11.10+ */
      background: -ms-linear-gradient(359deg, rgba(32,31,43,0) 0%, rgba(32,31,43,1) 51%); /* ie10+ */
      background: linear-gradient(91deg, rgba(32,31,43,0) 0%, rgba(32,31,43,1) 51%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201F2B', endColorstr='#201F2B',GradientType=1 ); /* ie6-9 */
      button {
        margin-right: 0rem;
        position: absolute;
        right: 0;
        font-size: 10px;
        display: table-row;
        min-width: 70px;
        text-align: right;
        span + span {
          display: none;
        }
        &.clearCart > div,
        .img {
          width: 20px;
          height: initial;
          display: inline-block;
          vertical-align: middle;
        }
        &.clearCart {
          line-height: initial;
          div img {
            width: 100%;
            height: initial;
          }
          span {
            line-height: inherit;
            font-size: 10px;
            margin-left: 0.5rem;
          }
        }
      }
      @media ($xsmallds) {
        display: initial;
      }
      @media ($bigds) {
        line-height: normal;
      }
      span[ng-show="TranslateLinkCtrl.translatedLink"]{
        display: none;
      }
    }

    // ORDER IN PROGRESS
    &.topTextRight {
      [ng-if="OrdersCtrl.ordersInPreparation"] {
        position: absolute;
        right: 0;
        width: 80px;
        text-align: right;
        justify-content: flex-end;
      }
    }

    // ORDERS LIST AND STATE
    [translate="ORDER.TITLE"] {
      margin-left: 0.5rem;
    }

    // Highest z-index, just a voodoo fix to hide the .cartStatsContainer
    &.topTextFloating {
      z-index: 100;
    }

    .menuSummary {
      display: flex;
      align-items: center;
      flex-direction: row;
      line-height: 2rem;
      font-size: 15px;
      overflow: hidden;

      /*TEXT AND COUNT FATHER 'DIV'*/
      span {
        overflow: visible;
        line-height: normal;
        padding-left: 0.5rem;
        font-size: 12px;

        /*TEXT*/
        span {
          padding-left: 0rem;
          vertical-align: middle;
          &:last-child {
            width: initial;
          }
        }
        @media ($bigds) {
          &.back{
              width: 156px;
          }
        }

        /*COUNT*/
        .count {
          padding-left: 0.3rem;
          display: inline-block;
          padding: 0px 5px 1px 5px;
          margin-left: 5px;
          border-radius: 10px;
          color: #fff;
          background: rgba(255, 255, 255, 0.5);
        }
      }
      /*BACK*/
      span.back {
        background-size: 15%;
        @media ($bigds) {
          width: 120px;
        }

        @media ($xsmallds) {
          .text {
            overflow: hidden;
            width: 65px;
          }
        }
      }
      /*When we have back and item*/
      span + span {
        @media ($mediumds) {
          width: 200px;
        }
        @media ($xsmallds) {
          width: 160px;
        }
      }
    }

  }

  // The menu summary, ie. category and products counter
  .menuSummary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding-top: 0%;
    font-size: 0.8em;
    line-height: 1.2em;

    .items {
      display: block;
    }

    .categories {
      display: inline-block;
      vertical-align: middle;
    }

    .items, .categories {
      .count {
        color: #ea6854;
      }
    }
    .categories.ng-binding.ng-scope {
      .count {
        position: absolute;
        margin-top: -0.35rem;
      }
    }

    .items.back{
      width: 65px;
      padding-right: 10px;
      display: inline-block;
      vertical-align: middle;
      color: #7C7C82;;
      background: local url('../img/icons/menu-line.png') no-repeat right;
    }

    &.category {
      .categories {
        .name {
          display: inline-block;
          max-width: 97px;
          width: initial;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .menu {
    vertical-align: middle; font-size: 3.6em;
    &.price { font-size: 6.6em; }
    &.value { margin-right: 15px; }
    &.items { font-weight: 100; margin-right: 40px; }
  }

  .icon {
    position: relative; height: 100%; float: right; background: $brandPrimary;

    .receiptIcon {
      position: absolute; right: 30px; height: 100%; width: 145px; cursor: pointer; @include border-radius(100px);
      background: #c8614f url('../img/icons/receipt.png') no-repeat center;
    }

    .cartIcon {
      display: block;
      height: 70px;
      width: 70px;
      cursor: pointer; @include border-radius(50%);
      background: $brandPrimary url('../img/icons/cart.png') no-repeat center;
      background-size: 60%;
      box-shadow: -1em -.3em 1em 0 rgba(0, 0, 0, 0.71);
    }
  }

  .cartStatsContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    line-height: 100%;
    width: auto;
    min-width: 48%;
    color: #ffffff;
    z-index: 50;
    &:hover{
      cursor: pointer;
    }
  }

  .cart {
    position: relative; height: 100%; width: 100%; background: $brandPrimary;
    font-size: 19px; transform: translate(140%, 0); transition: transform ease 0.3s;

    &.active { transform: translate(0, 0); }

    .lead {
      position: absolute; top: 0; right: 100%; display: block; background: inherit; width: 40px;
    }
    .cartIcon {
      margin-left: -36.5px;
    }
    .label, .content {
      float: left; box-sizing: border-box; padding: 0 0.7em; margin: 0.6em 0; line-height: 1.2em;
    }
    .label { span { display: block; } }
    .content {
      margin-top: .7em; border-left: 1px solid #fff;
      .value, .price { font-size: 1em; font-weight: 700; }
      .items { display: block; }
    }
  }

  .orderSummary {
    font-weight: 400;
    @media ($bigds) {
      line-height: normal;
    }
    .price {
      font-weight: 700;
    }
  }

  .translateLink {
    height: 100%;
    font-size: 1rem;
    line-height: 1em;
    background: transparent;
    color: #85848a;
    border: 0;
    outline: none;
    text-align: left;

    .img {
      margin-right: 0.1rem;
      height: 100%;

      img {
        display: block;
        height: 21px;
      }
    }
  }
}

// MEDIA QUERIES
@media #{$tabletM} {
  .topBar {
    height: 70px;
    .topText {
      font-weight: bold; margin-left: 30px;
      &.topTextRight { margin-right: 30px; margin-left: 0 }
    }
    .openNav { }
    .topBarIcon { width: 30px; }
    .menu {
      &.price { font-size: 46px; line-height: 1; font-weight: 400; }
      &.value { font-size: 26px; line-height: 1; font-weight: 400; margin-right: 0; }
      &.items { font-weight: 100; font-size: 26px; line-height: 1; }
    }
    .icon {
      .receiptIcon { width: 110px; @include background-size(45%, auto); }
      .cartIcon { height: 70px; width: 70px; @include background-size(55%, auto);
          margin-left: -37px;
      }
    }
    .cart {
      .lead { width: 110px * 0.6; }
      .cartIcon { margin-left: -37px; }
    }
  }
}

@media #{$tabletS} {
  .topBar {
    height: 70px;
    .topText {
      font-weight: bold; margin-left: 20px;
      &.topTextRight { margin-right: 20px; margin-left: 0; }
    }
    .openNav { }
    .topBarIcon { width: 30px; }
    .menu {
      &.price { font-size: 36px; }
      &.value { font-size: 26px; }
      &.items { font-size: 20px; margin-right: 20px; }
    }
    .icon {
      .cartIcon, .receiptIcon { width: 70px; }
      .cartIcon { height: 70px; @include background-size(40px, auto); @include border-radius(45px); }
    }
    .cart {
      font-size: 20px;
      .cartIcon { margin-left: 70px * -0.5; }
      .lead { width: 70px * 0.6; }
    }
  }
}


@media #{$phoneXL} {
  .topBar .topText {
    margin-left: 10px;
    &.topTextRight { margin-right: 10px; margin-left: 0; }
  }
  .topBarIcon { width: 30px; }
}

@media #{$phoneL} {
  .topBar {
    height: 60px;
    .topText {
      font-size: 1.5em;
    }
    .topBarIcon { width: 40px; }
    .menu {
      &.price { font-size: 30px; font-weight: 400; }
      &.value { font-size: 20px; font-weight: 400; }
      &.items { font-size: 17px; font-weight: 100; margin-right: 10px; }
    }
    .icon {
      .cartIcon, .receiptIcon { right: 10px; width: 60px; }
      .cartIcon { height: 60px; @include background-size(65%, auto); }
    }
    .topBarIcon { width: 30px; }
    .cart {
      font-size: 17px;
      .cartIcon { margin-left: 60px * -0.5; }
      .lead { width: 60px * 0.6; }
    }
  }
}

@media #{$phoneM} {
  .topBar {
    height: 40px;
    .topText { font-size: 1em;
      font-weight: bold; margin-left: 0; }
    .openNav {
      margin-left: 0;
      width: 48px;
      img { margin-left: 0px; }
    }
    .topBarIcon { width: 20px; }
    .topBarIcon + .topText { margin-left: 0px; }
    .menu {
      &.price { font-size: 20px; font-weight: 400; }
      &.value { font-size: 12px; font-weight: 400; }
      &.items { font-size: 12px; font-weight: 100; }
    }
    .icon {
      .cartIcon, .receiptIcon { width: 40px; }
      .cartIcon { height: 40px; }
    }
    .cart {
      font-size: 12px;
      .cartIcon { margin-left: 40px * -0.5; }
      .lead { width: 12px; }
    }
  }
}
