.toppings {
  display: block; background: #fff;
  // Prevent margin collapsion
  border-top: 1px solid transparent; border-bottom: 1px solid transparent; margin-top: -1px; margin-bottom: -1px;
  overflow: hidden; // notice we have padding-bottom at .actionBlock, we may have longer-than-expected padding that screw up the next block

  .mainBlock {
    position: relative; height: 100%; vertical-align: middle; margin: .8em 3%;
    box-sizing: border-box;

    .toggleInfo { position: absolute; top: -0.2em; left: 0; }
  }
  .actionBlock { float: right; padding: 0 0 27px 27px; }

  .toggleInfo {
    background: url('../img/icons/info.png') no-repeat center; @include background-size(100%, auto);
    width: 67px; height: 67px; display: inline-block; vertical-align: middle; cursor: pointer; opacity: 0.5;
  }

  .pricing {
    color: #21202c;
    font-size: 2.5em;
    font-weight: 700;
  }
  .description {
    display: inline; color: #333; font-size: 3.6em; line-height: 1.2; font-weight: 300;

    &.empty { color: #969696; line-height: 2.5em; }
    &.expanded {
      .shorten { display: none; }
      .full { display: inline; }
    }

    .more {
      font-size: 1em; color: $brandPrimary;
      margin-left: 0.5em;
    }

    .full {
      display: none;
    }
  }

  .topping {
    @include border-radius(10px); padding: 11px; max-width: 430px; width: 100%; float: left;
    text-align: center; color: $brandPrimary; font-size: 4.4em; font-weight: 400; cursor: pointer;
    &.border { border: 3px solid $brandPrimary; }
    .count { margin-right: 20px; }
    .addToppings { color: #dedee6; }
  }
}


// MEDIA QUERIES

@media #{$tabletL} {
  .toppings {
    .description { font-size: 3em; }
    .topping { font-size: 4em; font-weight: 400; }
  }
}


@media #{$tabletM} {
  .toppings {
    .mainBlock {
      .toggleInfo { width: 60px; height: 60px; @include background-size(90%, auto); }
      .description { font-size: 3em; }
    }
    .topping { font-size: 3em; margin: 0 0 0 5%; max-width: 300px; }
  }
}



@media #{$tabletS} {
  .toppings {
    .mainBlock {
      .toggleInfo { width: 45px; height: 45px; }
      .description { font-size: 1.7em; }
    }
    .actionBlock { padding: 0 0 15px 15px; }
    .topping {
      width: auto; font-size: 3em; padding: 5px 10px;
      @include border-radius(6px); margin: 0 0 0 15px;
      &.border { border: 2px solid $brandPrimary; }
      .count { margin-right: 10px }
    }
  }
}


@media #{$phoneXL} {
  .toppings {
    .mainBlock {
      .toggleInfo { width: 40px; height: 40px; }
    }
    .topping {
      margin: 0 0 0 20px; font-size: 2.5em;
      &.border { border: 1px solid $brandPrimary; }
      .count { margin-right: 5px; }
    }
  }
}


@media #{$phoneL} {
  .toppings {
    .mainBlock {
      .toggleInfo { width: 40px; height: 40px; @include background-size(75%, auto); }
    }
    .actionBlock { padding: 0 0 9px 9px; }
    .topping { margin: 0 0 0 10px; font-size: 2em; }
  }
}


@media #{$phoneM} {
  .toppings {
    .mainBlock {
      .toggleInfo { @include background-size(60%, auto); }
      .description { font-size: 1.4em; }
    }
    .topping { font-size: 1.7em; font-weight: 400; @include border-radius(5px); margin: 2px 0 0 10px; max-width: 180px; }
  }
}

.block-option-action {
  float: left;
  margin-right: 10px;
  .option-action {
    color: #21202c;;
    opacity: 0.5;
    .icon {
      width: 12px;
      height: 8px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      width: 41px;
      font-size: 1.2rem;
      text-align: left;
      margin-left: 5px;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}
.option-block {
  padding: 10px;
  background-color: #e9e9ea;
  color: #21202c;
  font-size: 1.4rem;
  line-height: 1.4;

  .option-item {
    margin-bottom: 10px;
  }

  .extra-naming {
    padding-top: 5px;
  }
  .extra-pricing {
    padding: 5px 5px;
    font-weight: 500;
  }
}
