.toppingsModal {
  table { width: 100%; }
  tr { font-weight: 400; }


  .body td, .head td { padding: 30px; color: #867d81; }


  .head {
    font-size: 5.4em; line-height: 1; font-weight: 400;
    border-bottom: 7px solid #f1f1f7;
    .price { font-size: 1.4em; color: $brandPrimary; text-align: right; }
    .currency { font-size: 0.7em; }
  }


  .body {
    overflow-y: scroll;
    tbody { font-size: 4.4em; line-height: 1; font-weight: 400; color: #434249; }

    .checkbox {
      display: inline-block; position: relative; border: 0 none; width: 77px; height: 77px;
      vertical-align: middle; text-align: center;

      label { display: block; width: 66px; height: 66px; @include border-radius(50px); border: 2px solid #dedee6; }

      input[type="checkbox"] {
        position: absolute; top: 0; left: 0; width: 70px; height: 70px;
        opacity: 0; cursor: pointer;
        &:checked + label {
          background: url('../img/icons/check.png') no-repeat center; width: 70px; height: 70px; border: 0;
        }
      }
    }

    .price {
      text-align: right;
      .cost { font-size: 1.22em; }
      .currency { font-size: 0.81em; }
    }
  }


  .footer {
    tr { font-size: 4.4em; line-height: 1; font-weight: 400; text-align: center; border-top: 2px solid #f1f1f7; }

    td {
      width: 50%;
      &:first-child { border-right: 2px solid #f1f1f7; cursor: pointer; }
    }

    .confirm {
      padding: 0;
      input {
        display: block; color: $brandPrimary; background: transparent; width: 100%; height: 100%;
        cursor: pointer; padding: 30px;
      }
    }
  }
}


// MEDIA QUERIES

@media #{$tabletM} {
  .toppingsModal .body {
    .price { font-size: 1.3em; }

    .checkbox {
      &,
      input[type="checkbox"],
      input[type="checkbox"]:checked + label { width: 60px; height: 60px; }
      label { width: 56px; height: 56px; }
    }
  }
}


@media #{$tabletS} {
  .toppingsModal {
    .body td, .head td { padding: 15px 20px; }

    .head { border-bottom: 2px solid #f1f1f7; }

    .body {
      .price { font-size: 1.3em; }

      .checkbox {
        &,
        input[type="checkbox"],
        input[type="checkbox"]:checked + label { width: 40px; height: 40px; }
        input[type="checkbox"]:checked + label { @include background-size(100%, auto); }
        label { width: 36px; height: 36px; }
      }
    }

    .footer .confirm input { padding: 15px; }
  }
}


@media #{$phoneXL} {
  .toppingsModal {
    .body td, .head td { padding: 15px; }

    .body .checkbox {
      &,
      input[type="checkbox"],
      input[type="checkbox"]:checked + label { width: 30px; height: 30px; }
      label { width: 26px; height: 26px; }
    }
  }
}
