@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Thin.woff2") format("woff2"),
  url("../fonts/Roboto-Thin.woff") format("woff"),
  url("../fonts/Roboto-Thin.ttf") format("truetype"),
  url("../fonts/Roboto-Thin.svg#RobotoThin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Light.woff2") format("woff2"),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.ttf") format("truetype"),
  url("../fonts/Roboto-Light.svg#RobotoLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.ttf") format("truetype"),
  url("../fonts/Roboto-Regular.svg#RobotoRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("../fonts/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto-Bold.ttf") format("truetype"),
  url("../fonts/Roboto-Bold.svg#RobotoBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
