// Disable outline
*:focus,
*:active,
*:hover,
*:visited {
  outline: none;
}

// Phonegap styles
* {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  @include css3-prefix('user-select', auto !important);
}


html { font-size: 14px; }
body { background: #dfdfe1; font-family: Roboto; font-size: inherit; }

a, a:hover { text-decoration: none; color: #3A69AF; }
[disabled="disabled"] { cursor: default; opacity: 0.4; }

// The .app is the root ui-view, which should fill the entire view port
.app {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  font-size: 1rem;
}
// TODO move this .mainContainer away
.mainContainer {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// styles when app displayed inside and iframe
.inside-frame {
  // hide scrollbar (only works for webkit browsers)
  .mainContainer::-webkit-scrollbar {
    display: none;
  }

  // block user from any interactions
  a, button, input, textarea, [ng-click] {
    pointer-events: none;
  }
}

// MEDIA QUERIES
@media
only screen and (-webkit-min-device-pixel-ratio : 1),
only screen and (min-device-pixel-ratio : 1) {
  html { font-size: 10px; }
}

//@media #{$tabletM} {
//  .app-main { padding-top: 108px; }
//}

//@media #{$tabletS} {
//  .app-main { padding-top: 70px; }
//}

//@media #{$phoneL} {
//  .app-main { padding-top: 60px; }

//}

//@media #{$phoneM} {
//  .app-main { padding-top: 40px; }
//}

