$phoneXS: "(max-height:450px)";
$phoneS: "(max-width:350px)";
$phoneM: "(max-width:420px)";
$phoneL: "(max-width:480px)";
$phoneXL: "(max-width:550px)";
$tabletS: "(max-width:700px)";
$tabletM: "(max-width:850px)";
$tabletL: "(max-width:1100px)";