.transparent {
  opacity: 0.65;
}

.clear {
  clear: both;
}

.cf:before, .cf:after {
  content: " "; display: table;
}

.cf:after {
  clear: both;
}

.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}

.hidden {
  visibility: hidden;
}
