// Z-Indexes
$topBarZIndex: 100;
$alertZIndex: 999;

// colors

/// The primary color, actively used in all *active* and *primary* stuffs
/// (buttons, icons ..). Ideally, other shades of *primary*, if any, should be
/// manipulated by scss color utils based on this.
/// @type color
$brandPrimary: #ea6854;

$brandHighlight: #D03A28; // should base on primary?

$grey: #8b8a90;
$grey-dark: darken($grey, 20);

$white: #fff;

//font-weight
$font-light: 200;
$font-bold: 500;

$font-size-normal: 1.5rem;

$line-height: 2rem;


$xsmallds: "max-width: 320px";
$smallds: "max-width: 400px";
$mediumds: "max-width: 768px";
$bigds: "min-width: 769px";
