include mixin/_modal

// TODO migrate to view in ui-router
.panningPane.side.left.navContainer(
  ng-controller="CompanyController as CompanyCtrl",
  ng-class="{ active: NavToggleCtrl.isOpen }"
)
  .close(ng-click="NavToggleCtrl.setOpen(false)") &times;

  // see _nav.scss for more information about this .scrollie
  div.layout-column.scrollie
    div.company.flex-none
      div.logo(style="background-image:url({{ CompanyCtrl.company.thumbs['350x350'] }})")
      div.title {{ CompanyCtrl.company.brief_description }}

    ul.nav.flex(ng-click="NavToggleCtrl.setOpen(false)")
      li(ng-controller="OrdersCounterController as OrdersCounterCtrl")
        a.layout-row.layout-align-center-center(ui-sref="main.orders")
          span.flex(translate="NAV.ORDERS")
          span.badge.flex-none(ng-show="OrdersCounterCtrl.numberOfOrders")
            | {{ OrdersCounterCtrl.numberOfOrders }}
      //- setting empty categoryId is required to force ui-router to go to top menu state (/menu),
      //- otherwise if user is in nested menu state (e.g. /menu/1, for category 1) 
      //- and clicks on Menu in nav, nothing happens
      //- we could use ui-sref-opts="{reload: true}", but this will always reload the state, even
      //- if we are already on the top menu state (/menu)
      li: a(ui-sref="main.menu({ categoryId: '' })", translate="NAV.MENU")
      li: a(ui-sref="main.cart", translate="NAV.CART")
      li.separator
      li: a(ui-sref="main.translate", translate="NAV.TRANSLATE")
      li: a(ui-sref="main.about", translate="NAV.ABOUT")
      li: a(ui-sref="main.terms_of_use", translate="NAV.TERMS_OF_USE")

    div.madeBy.flex-none
      p Created by Mycelium
