+modal("MenuCtrl.showModal")
  .confirmation
    .content
      p
        span {{::MenuCtrl.unavailableItem.name}} {{ 'MENU.ITEM_UNAVAILABLE_TEXT' | translate }}
      .schedule(ng-if="MenuCtrl.unavailableItem.schedule")
        p(translate="MENU.ITEM_AVAILABLE_HOURS")
        ul.keyValueList
          li(ng-repeat="day in MenuCtrl.unavailableItem.schedule")
            span.key
              span(translate="DAYS.{{ day.label }}")
              | :
            span.value
              span.separated.comma(ng-repeat="time in day.times")
                | {{ time.from }} - {{ time.to }}

    .actions
      button.flat.primary(
      ng-click="MenuCtrl.showModal=false",
      translate="ORDER_POINT.BUTTON_OK"
      )
