+modal("OrderPointCtrl.showModal")(ng-controller="OrderPointController as OrderPointCtrl")
  .confirmation
    .content
      p(translate="ORDER_POINT.UNAVAILABLE.{{ OrderPointCtrl.details.error }}")
      .schedule(ng-if="OrderPointCtrl.details.schedule")
        p(translate="ORDER_POINT.OPENING_HOURS")
        ul.keyValueList
          li(ng-repeat="day in OrderPointCtrl.details.schedule")
            span.key
              span(translate="DAYS.{{ day.label }}")
              | :
            span.value
              span.separated.comma(ng-repeat="time in day.times")
                | {{ time.from }} - {{ time.to }}

    .actions
      button.flat.primary(
        ng-click="OrderPointCtrl.showModal=false",
        translate="ORDER_POINT.BUTTON_OK"
      )
