include mixin/_top_bar

+topBar
  .topText
    span(translate="ABOUT.TITLE")

.mainContainer.flex#about
  header
    figure(style="background-image:url({{ CompanyCtrl.company.thumbs['350x350'] }})")
    h2 {{ CompanyCtrl.company.name }}
  article
    p(
      ng-if="CompanyCtrl.company.description && CompanyCtrl.company.description != 'null'"
      ng-bind-html="CompanyCtrl.company.description | htmlify"
    )
  .contact
    p(
      ng-if="CompanyCtrl.company.address && CompanyCtrl.company.address != 'null'"
      ng-bind-html="CompanyCtrl.company.address | htmlify")
    p
      | {{ CompanyCtrl.company.phone }}
    p
      a(href="mailto: {{ CompanyCtrl.company.email }}") {{ CompanyCtrl.company.email }}
    p
      a(href="{{ CompanyCtrl.company.website_link }}") {{ CompanyCtrl.company.website_link }}
    p
      a(href="{{ CompanyCtrl.company.facebook_link }}") {{ CompanyCtrl.company.facebook_link }}
    p
      a(href="{{ CompanyCtrl.company.twitter_link }}") {{ CompanyCtrl.company.twitter_link }}
