<!DOCTYPE html>
<html lang="en"
  {% if(o.htmlWebpackPlugin.files.manifest) { %}
    manifest="{%= o.htmlWebpackPlugin.files.manifest %}"
  {% } %}>
<head>
  <base href="/">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{%= o.htmlWebpackPlugin.options.title %}</title>
  <!-- Favicon -->
  {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
  {% } %}
  <!-- CSS styles -->
  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77215006-3', 'auto');
  </script>
</head>
<body>
  <div class="splashscreen" ng-cloak>
    <style type="text/css">
      div.splashscreen {
        display: block !important; /* Overrides ng-cloak */
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0px;
        background-color: #ea6854;
        color: #FFFFFF;
        z-index: 99999;
        pointer-events: none;
        transition: all 0.2s ease 4.5s;
        -webkit-transform: translate(0, -30px);
        -moz-transform: translate(0, -30px);
        transform: translate(0, -30px);
        opacity: 0;
      }
      
      div.splashscreen[ng-cloak] {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      
      div.splashscreen div.splashscreenContent {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50%;
        font-family: 'Arial';
        text-align: center ;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
      }
      
      .splashscreenItem img {
        width: 11.45vh;
      }
      
      .splashscreenItem p {
        font-size: 3.94vh;
        line-height: 1em;
        margin: 0.32em 0 0;
      }
      
      .splashscreenFooter {
        position: absolute;
        bottom: 2.15vh;
        left: 0;
        width: 100%;
        text-align: center;
      }
      
      .splashscreenFooter img,
      .splashscreenFooter span {
        display: inline-block;
        vertical-align: middle;
      }
      
      .splashscreenFooter span {
        font-size: 2.15vh;
        line-height: 1em;
        font-family: 'Arial';
      }
      
      .splashscreenFooter img {
        width: 25.58vh;
        margin-left: 0.89vh;
      }
      
      @-webkit-keyframes slideUp {
        from { -webkit-transform: translate(0, 15px); opacity: 0; }
        to { -webkit-transform: translate(0, 0); opacity: 1; }
      }
      
      @-webkit-keyframes jiggle {
        from { -webkit-transform: scale(1); }
        30% { -webkit-transform: scale(1); }
        50% { -webkit-transform: scale(1.3); }
        70% { -webkit-transform: scale(1); }
        to { -webkit-transform: scale(1); }
      }
      
      @-webkit-keyframes animateClick {
        from { -webkit-transform: scale(1.5); opacity: 0; }
        30% { -webkit-transform: scale(1); opacity: 1; }
        70% { -webkit-transform: scale(1); opacity: 1; }
        to { -webkit-transform: scale(0.3); opacity: 0; }
      }
      
      @-moz-keyframes slideUp {
        from { -moz-transform: translate(0, 15px); opacity: 0; }
        to { -moz-transform: translate(0, 0); opacity: 1; }
      }
      
      @-moz-keyframes jiggle {
        0%, 30% { -moz-transform: scale(1); }
        50% { -moz-transform: scale(1.3); }
        70%, 100% { -moz-transform: scale(1); }
      }
      
      @-moz-keyframes animateClick {
        from { -moz-transform: scale(1.5); opacity: 0; }
        30% { -moz-transform: scale(1); opacity: 1; }
        70% { -moz-transform: scale(1); opacity: 1; }
        to { -moz-transform: scale(0.3); opacity: 0; }
      }
      
      @keyframes slideUp {
        from { transform: translate(0, 15px); opacity: 0; }
        to { transform: translate(0, 0); opacity: 1; }
      }
      
      @keyframes jiggle {
        from { transform: scale(1); }
        30% { transform: scale(1); }
        50% { transform: scale(1.3); }
        70% { transform: scale(1); }
        to { transform: scale(1); }
      }
      
      @keyframes animateClick {
        from { transform: scale(1.5); opacity: 0; }
        30% { transform: scale(1); opacity: 1; }
        70% { transform: scale(1); opacity: 1; }
        to { transform: scale(0.3); opacity: 0; }
      }
      
      .splashscreenItem:nth-child(1) {
        -webkit-animation: 0.4s slideUp 0.5s 1 ease-in;
        -moz-animation: 0.4s ease-in 0.5s 1 normal both running slideUp
        animation: 0.4s ease-in 0.5s 1 normal both running slideUp
      }
      
      .splashscreenItem:nth-child(1) img,
      .splashscreenItem:nth-child(1) p {
        -webkit-animation: 1.8s jiggle 1.0s infinite;
        -moz-animation: 1.8s ease 1.0s infinite normal both running jiggle;
        animation: 1.8s ease 1.0s infinite normal both running jiggle;
      }
      
      .splashscreenFooter {
        -webkit-animation: 0.3s slideUp 0.8s 1 ease-in;
        -moz-animation: 0.3s ease-in 0.8s 1 normal both running slideUp;
        animation: 0.3s ease-in 0.8s 1 normal both running slideUp;
      }

      .splashscreenHint {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99000;
        margin: auto;
        width: 42.5vw;
        max-width: 250px;
        height: 42.5vw;
        pointer-events: none;

        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;

        -webkit-animation: 2.1s animateClick 5.0s 1;
        -moz-animation: 2.1s animateClick 5.0s 1;
        animation: 2.1s ease-in 5.0s 1 normal both running animateClick;
      }

      .splashscreenHint[ng-cloak] {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
      }

        .splashscreenHint img {
          display: inline-block;
          width: 100%;
        }
    </style>

    <div class="splashscreenContent">
      <div class="splashscreenItem">
        <img src="/assets/img/splashscreen/swish-logo.svg">
      </div>
    </div>
    
    <div class="splashscreenFooter">
      <span>Powered by</span>
      <img src="/assets/img/splashscreen/swish-poweredby.svg">
    </div>
  </div>
  
  <div class="splashscreenHint" ng-cloak>
    <img src="/assets/img/splashscreen/click.svg">
  </div>
  
  <div class="app panningBox overlap" ui-view=""></div>
  <!-- Scripts -->
  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
  {% } %}
</body>
</html>
