.panningHelper(ng-controller="CallWaiterController as CallWaiterCtrl")
  div.panningToggle(ng-controller="ToggleController as NavToggleCtrl")
    include _nav
    div.panningPane.main.layout-column(ui-view="")

  div(flash-message="7000")

  include _unavailableOrderPoint
