include mixin/_top_bar

+topBar
  a.topBarIcon.backArrow(ui-sref="main.orders", title="Go back") &nbsp;
  .topText.order
    .menuSummary
      span.items.back(ui-sref="main.orders", translate="CART.TOP_BAR.BACK_TO_ORDERS")
    span(translate="ORDER.TITLE")
    span {{ OrderCtrl.orderId }} 
    span(translate="ORDER.STATUS")

.mainContainer.flex.orderBlock
  .orderItem(ng-repeat="item in OrderCtrl.items")
    .orderItemBlock.layout-row
      .flex-55(ng-controller="ImageController as ImageCtrl", image-size="67x67")
        .image(ng-style="ImageCtrl.backgroundStyles", ng-class="{ 'item-no-image': ImageCtrl.noImage }")
          svg.item-default-icon: use(xlink:href="assets/img/global/sprite.svg#product")
        .text
          p.name {{ item.product_name }}
      .flex-25
        .rating(class="rating{{ item.rating }}", ng-if="item.status === 5")
          svg.icon(
            ng-repeat="rating in [1,2,3,4,5]",
            ng-click="OrderCtrl.setRating(rating, item)"
          )
            use(xlink:href="assets/img/global/sprite.svg#star")
      .flex-20
        .queue
          p {{ item.status | orderItemStatus }}
          .bar(class="{{ item.status | orderItemStatus:true }}")
    .clear
