include mixin/_top_bar

+topBar
  .topText(
    ng-if="OrdersCtrl.orders"
    translate="ORDERS.TITLE"
  )
  .topText.topTextRight
    small(
      ng-if="OrdersCtrl.ordersInPreparation"
      translate="ORDERS.N_PROGRESS"
      translate-values="{ N: OrdersCtrl.ordersInPreparation }"
      translate-interpolation="messageformat"
    )

.mainContainer.flex.orderBlock
  //- This is the html when we haven't orders
  .noorders(ng-if="OrdersCtrl.orders.length === 0")
    img(src="/assets/img/empty-orders.png")
    .txt
      p(translate="ORDERS.EMPTY", translate-compile)
  //- end of html

  .orderItem.ordersListItem(
    ng-repeat="order in OrdersCtrl.orders"
    ng-click="OrdersCtrl.goToOrderDetails(order)"
    ng-class="{ transparent: OrdersCtrl.isOrderReady(order) }"
    ng-if="OrdersCtrl.orders.length > 0"
  )
    .orderInfo.left
      .orderInfoItem.orderNumber
        span(translate="ORDERS.ORDER_ID")
        span {{ order.company_order_id }}
        small.orderStatus
          | {{ order.state | orderStatus }}
      .orderInfoItem.dateTime
        .date {{ order.created | date:'d MMM yyyy' }}
        .time {{ order.created | date:'HH:mm' }}
    .orderInfo.right
      .orderInfoItem.price {{ order.cost | price }}
      a.orderInfoItem.receipt(ui-sref="main.receipt({ orderId: order.id })" ng-click="$event.stopPropagation()")
        img(src="assets/img/local/receipt.svg")
    .clear
