include mixin/_top_bar
include mixin/_company_details

+topBar
  .topText(translate="RECEIPT.TITLE")

.mainContainer.flex.orderBlock.receipt

  .receiptDetails

    .receiptInfo.callWaiter
      button.btn.inverse(ng-click="CallWaiterCtrl.showCallWaiterMessageSheet(ReceiptCtrl.order.id)")
        span.bell(translate="CALL_WAITER.BUTTON_CALL_WAITER")
      p.instructions {{ ReceiptCtrl.orderPoint.instructions }}

    .firstBlock
      //- Order number and order time
      .orderInfo.order-info-sm
        .left-section
          p.orderNumber
            span(translate="RECEIPT.ORDER_ID")
            span {{ ReceiptCtrl.order.company_order_id }}

          a.checkStatus(ui-sref="main.order({ orderId: ReceiptCtrl.order.id })" translate="RECEIPT.STATUS")
          .timeStamp.time-date-sm
            .date {{ ReceiptCtrl.order.created | date:'MMM dd, yyyy'}}
            .time {{ ReceiptCtrl.order.created | date:'hh:mma'}}
          .paid-status(ng-if="!ReceiptCtrl.order.paid && ReceiptCtrl.order.payment_method == null")
            span(translate="RECEIPT.UNPAID")
        .right-section
          .qr-image
            //- @see http://www.qrcode.com/en/about/version.html for configuration
            qrcode(
              data="{{ ReceiptCtrl.order.id }}",
              size="150",
              version="1",
              error-correction-level="H"
            )
          span.transaction-info(translate="RECEIPT.TRANSCATION_INFO")

      //- Order items prices
      table
        tbody
          tr(ng-repeat="item in ReceiptCtrl.order.items")
            td.title {{ item.product_name }}
            td.price
              | {{ item.price | price }}
            td.quantity x{{ item.quantity }}
            td.cost
              | {{ item.cost | price }}

      .total
        span(translate="RECEIPT.TOTAL")
        p.quantity(translate="RECEIPT.N_ITEM", translate-values="{ N: ReceiptCtrl.itemsTotal || 0 }", translate-interpolation="messageformat")
        span.price {{ ReceiptCtrl.order.cost | price }}

      .gratuity-btn
        button.btn.inverse(type="button", ng-click="")
          span.donation-icon(translate="RECEIPT.GRATUITY")

      .supplemental
        table
          tbody
            tr
              td(translate="RECEIPT.DETAILS.ORDERPOINT")
              td.desc {{ ReceiptCtrl.order.order_point_name }}
            tr
              td(translate="RECEIPT.DETAILS.VENUE")
              td.desc {{ ReceiptCtrl.company.name }}
            tr
              td(translate="RECEIPT.DETAILS.ADDRESS")
              td.desc {{ ReceiptCtrl.company.address }}
            tr(ng-if="ReceiptCtrl.order.waiter")
              td(translate="RECEIPT.DETAILS.WAITER")
              td.desc {{ ReceiptCtrl.order.waiter.first_name }} {{ ReceiptCtrl.order.waiter.last_name }}
            tr
              td(translate="RECEIPT.DETAILS.REGID")
              td.desc {{ ReceiptCtrl.company.regid }}
            tr
              td(translate="RECEIPT.DETAILS.TAXID")
              td.desc {{ ReceiptCtrl.company.taxid }}

    .secondBlock

      //- Receipt download or e-mail
      .manage(ng-controller="ToggleController as ToggleCtrl")
        .group(ng-hide="ToggleCtrl.isOpen")
          .download
            a(ng-href="{{ ReceiptCtrl.downloadUrl }}", target="_blank")
              svg: use(xlink:href="assets/img/global/sprite.svg#download")
              div(translate="RECEIPT.SAVE.DOWNLOAD")
          .email
            a(href="" ng-click="ToggleCtrl.toggle()")
              svg: use(xlink:href="assets/img/global/sprite.svg#email")
              div(translate="RECEIPT.SAVE.EMAIL")

        form(
          name="form"
          novalidate
          ng-show="ToggleCtrl.isOpen"
          ng-submit="ReceiptCtrl.sendByEmail(); ToggleCtrl.toggle()")
          a.fa.fa-times.pull-right.fa-2x(href="" ng-click="ToggleCtrl.toggle()")
          .input-mail-field
            input(type="email" placeholder="{{ 'RECEIPT.FEEDBACK.EMAIL_PLACEHOLDER' | translate }}" ng-model="ReceiptCtrl.email" required)
            .gratuity-btn
              button.btn.inverse(type="submit", ng-disabled="form.$invalid")
                span.send-icon(translate="RECEIPT.SAVE.SUBMIT")


    a.advert(href="http://swish.mycelium.com") Mycelium Swish - swish.mycelium.com

  .receiptFeedback
    .form(ng-hide="ReceiptCtrl.order.feedback", ng-controller="ToggleController as ToggleCtrl")

      form.scrollIntoView(
        name="form"
        novalidate,
        ng-if="ToggleCtrl.isOpen",
        ng-submit="ReceiptCtrl.sendFeedback(); ToggleCtrl.toggle()"
      )
        textarea(rows="5", ng-model="ReceiptCtrl.feedback", required, autofocus)
        button.btn(
          type="submit",
          ng-disabled="ReceiptCtrl.feedbackProcessing || form.$invalid",
          translate="RECEIPT.FEEDBACK.SUBMIT"
        )

      .actionArea
        button.btn.inverse(type="button", ng-hide="ToggleCtrl.isOpen", ng-click="ToggleCtrl.toggle()")
          span.feedback-icon(translate="RECEIPT.FEEDBACK.OPEN")

    .feedback(ng-show="ReceiptCtrl.order.feedback")
      strong(translate="RECEIPT.FEEDBACK.TEXT")
      p {{ ReceiptCtrl.order.feedback }}
