include mixin/_top_bar

+topBar
  .topText
    span(translate="TERMS_OF_USE.TITLE")

.mainContainer.flex.articleContainer(ng-controller="CompanyController as CompanyCtrl")
  span(translate="TERMS_OF_USE.ARTICLE_CONTENT")
  h3.textCenter.popupContainerTitle(translate="TERMS_OF_USE.MERCHANT_CUSTOMER_TITLE")
  span(ng-bind-html="CompanyCtrl.company.terms")
  span(translate="TERMS_OF_USE.CONTENT")
