include mixin/_top_bar

+topBar
  .topText
    span(translate="TRANSLATE.TITLE")

.mainContainer.flex.articleContainer.translateContainer
  p(translate="TRANSLATE.DESCRIPTION")

  div.selectBox
    select(
      ng-model="TranslateCtrl.selectedLanguage"
      ng-options="item.code as item.localized_title for item in TranslateCtrl.languages"
      ng-change="TranslateCtrl.changeLanguage()"
    )

  hr

  a.noTranslate(
    ng-click="TranslateCtrl.dontTranslate()",
    translate="TRANSLATE.DISABLE"
  )
