.item-photo(ng-style="ImageCtrl.backgroundStyles")
  svg.item-default-icon
    use(ng-if="item.parent", xlink:href="assets/img/global/sprite.svg#subcategory")
    use(ng-if="!item.parent", xlink:href="assets/img/global/sprite.svg#category")
    
  .item-unavailable(ng-if="!item.is_sellable")
    span(translate="MENU.ITEM_UNAVAILABLE")

  .item-rounded
    em(
      translate="MENU.CATEGORY.N_ITEM",
      translate-values="{ N: item.total_number_of_products }",
      translate-interpolation="messageformat"
    )

  .item-details
    .info
      h2 {{ item.name }}
    p(ng-show="item.description") {{ item.description }}

