.dishOptions
  //- Paid options
  div
    .option.paid.selected(ng-repeat="option in dish.paidOptions")
      p.name Big (0.6)
      p.price
        span.currency €
        | 1
        span.cent 75
      .clear
  .clear
  //- Free options
  div
    .option.free.selected(ng-repeat="option in dish.freeOptions")
  .clear
