.item-photo.product(
  ng-style="ImageCtrl.backgroundStyles",
  ng-class="{ 'info-activated': item.$$uiData.infoExpanded }",
  ng-click="item.$$uiData.infoExpanded = true",
)
  svg.item-default-icon: use(xlink:href="assets/img/global/sprite.svg#product")

  svg.info-toggle.open
    use(xlink:href="assets/img/global/sprite.svg#info")

  .item-unavailable(ng-if="!item.is_sellable")
    span(translate="MENU.ITEM_UNAVAILABLE")

  .item-details
    .info
      h2 {{ item.name }}

  .description
    svg.info-toggle.close(
      ng-click="item.$$uiData.infoExpanded = false; $event.stopPropagation();"
    )
      use(xlink:href="assets/img/global/sprite.svg#close")

    h5.title {{ item.name }}
    span.text
      | {{ item.description }}

include _toppings

include _options
