.overlay
  .modal.toppingsModal
    .container
      table.head                   
        thead: tr
          td Add toppings
          td.price
            span +
            span 0
            span.currency $

      .body
        table
          tbody
            tr(ng-repeat="topping in toppings")
              td
                .checkbox
                  input(id="top_ckeckbox" type="checkbox")
                  label(for="top_ckeckbox")
                span Сauliflower
              td.price
                span.cost 0.90
                span.currency $

      table.footer                
        tr
          td Back
          td.confirm
            input(type="button" value="Add checked")
