include ../mixin/_counter
include ../mixin/_extra_counter

.toppings
  .option-block(ng-show="dish.optionShown", ng-if="item.is_option_enabled")
    .option-content
      .option-item(
        ng-repeat="preference in item.preferences track by $index",
      )
        .selectBox.no-border
          select(
            ng-model="ProductCtrl.option.preferences[$index]",
            ng-change="ProductCtrl.updateCartOptions()"
            ng-options="item as item.name + ProductCtrl.getPriceFormat(item.price, true) for item in preference"
          )
          label.select-label(ng-show="ProductCtrl.option.preferences[$index]")
            | {{ ProductCtrl.option.preferences[$index].name }}
            span(ng-bind-html="ProductCtrl.getPriceFormat(ProductCtrl.option.preferences[$index].price) | htmlify")

      .option-item(
        ng-repeat="extra in item.extras",
        ng-if="extra.is_active"
      )
        .layout-row
          .flex-45.extra-naming
            {{ extra.name }}
          .flex-25.extra-pricing.textRight
            span(ng-if="extra.price != 0")
              &#43;&nbsp;
              span(ng-show="ProductCtrl.option.extras[$index].quantity == 0") {{ ProductCtrl.option.extras[$index].price | price }}
              span(ng-show="ProductCtrl.option.extras[$index].quantity > 0") {{ (ProductCtrl.option.extras[$index].price * ProductCtrl.option.extras[$index].quantity) | price }}
            span(ng-if="extra.price == 0") Free
          .flex-30
            +extra_counter("Add")

  .mainBlock
    .actionBlock
      .topping.border(ng-show="dish.toppings > 0")
        span.count
          span 0
          span
            | toppings
        span
          | +$
          span 0
      .topping(ng-show="dish.toppings == 0")
        span.addToppings Add toppings
      .block-option-action(
        ng-show="item.is_option_enabled"
      )
        .option-action(
          ng-show="!dish.optionShown",
          ng-click="dish.optionShown = true"
        )
          svg.icon: use(xlink:href="assets/img/global/common/arrow-show.svg#Welcome")
          span Show options
        .option-action(
          ng-show="dish.optionShown",
          ng-click="dish.optionShown = false"
        )
          svg.icon: use(xlink:href="assets/img/global/common/arrow-hide.svg#Welcome")
          span Hide options
      +counter("Order")
      .clear
    .pricing {{ ProductCtrl.priceCounter(item) | price }}
