include ../mixin/_top_bar
include ../mixin/_modal

+cartTopBar
  a.topBarIcon.backArrow(
    ng-if="MenuCtrl.category"
    ui-sref="main.menu({ categoryId: MenuCtrl.category.parent })"
    title="{{ 'Go back' | translate }}"
  )

  .topText
    .menuSummary(ng-class="{ category: MenuCtrl.category }")
      span.items.back(ng-if="MenuCtrl.category")
        .text(
          ui-sref="main.menu({ categoryId: MenuCtrl.category.parent })"
          translate="CART.TOP_BAR.BACK_TO",
          )
      span.categories(ng-if="MenuCtrl.categoriesCount && !MenuCtrl.category")
        span(translate="MENU.CATEGORIES")

      span.items(ng-if="!MenuCtrl.categoriesCount && MenuCtrl.productsCount && !MenuCtrl.category")
        span(translate="MENU.PRODUCTS")

      span.categories(ng-if="MenuCtrl.category")
        span.name {{ MenuCtrl.category.name }}

  .topText.topTextRight.topTextFloating(
    ng-hide="CartSummaryCtrl.totals.quantity"
    ng-controller="TranslateLinkController as TranslateLinkCtrl"
  )
    button.translateLink.layout-row.layout-align-center-center(ui-sref="main.translate")
      .img
        img(src="assets/img/icons/translate.png")
      span(ng-show="!MenuCtrl.category", translate="MENU.TRANSLATE")
      span(ng-show="!MenuCtrl.category && TranslateLinkCtrl.translatedLink")
        |  / {{ TranslateLinkCtrl.translatedLink }}


.mainContainer.flex.layout-column
  .menu-wrapper.flex.layout-column
    .menu-item.flex-none(
      ng-repeat="item in MenuCtrl.items"
      ng-controller="ImageController as ImageCtrl"
      ng-class="{ 'item-template-image': ImageCtrl.defaultImage, 'item-no-image': ImageCtrl.noImage }"
    )
      a(ng-if="MenuCtrl.isItemACategory(item) && item.is_sellable" ng-click="MenuCtrl.go(item)")
        include _category

      div(ng-if="!MenuCtrl.isItemACategory(item) && item.is_sellable", ng-controller="ProductController as ProductCtrl")
        include _product

          
include ../_unavailableItem
