mixin companyDetails()
  .contact
    if block
      block
    p(
      ng-if="CompanyCtrl.company.address && CompanyCtrl.company.address != 'null'"
      ng-bind-html="CompanyCtrl.company.address | htmlify")
    p
      | {{ CompanyCtrl.company.phone }} · 
      a(href="mailto: {{ CompanyCtrl.company.email }}") {{ CompanyCtrl.company.email }}
