mixin counter(buttonLabelKey)
  .counter(ng-class="{solid: ProductCtrl.showQuantityCounter}")

    .add-button(
      ng-if="!ProductCtrl.quantityCounter",
      ng-click="ProductCtrl.showQuantityCounter(item)",
      translate="#{buttonLabelKey}"
    )

    .quantity-button(ng-if="ProductCtrl.quantityCounter")
      span.modify(ng-click="ProductCtrl.decQuantity()") &ndash;
      span.quantity-value {{ ProductCtrl.quantity }}
      span.modify(ng-click="ProductCtrl.incQuantity()") +
