mixin extra_counter(buttonLabelKey)
  .counter.extra-counter(ng-class="{solid: ProductCtrl.option.extras[$index].show_counter}")

    .add-button(
      ng-if="!ProductCtrl.option.extras[$index].show_counter",
      ng-click="ProductCtrl.option.extras[$index].show_counter = true",
      translate="#{buttonLabelKey}"
    )

    .quantity-button(ng-if="ProductCtrl.option.extras[$index].show_counter")
      span.modify(
        ng-click="ProductCtrl.decExtra(ProductCtrl.option.extras[$index])"
      ) &ndash;
      span.quantity-value {{ ProductCtrl.option.extras[$index].quantity }}
      span.modify(
        ng-click="ProductCtrl.incExtra(ProductCtrl.option.extras[$index])"
      ) +
