mixin topBar()
  .topBarContainer.flex-none
    .topBar&attributes(attributes)
      .openNav(ng-click="NavToggleCtrl.toggle()")
        img(src="assets/img/icons/nav.png")
      if block
        block
      .clear

mixin cartTopBar()
  +topBar(ng-controller="CartSummaryController as CartSummaryCtrl")
    if block
      block
    include ../cart/_cart_top_bar
