#about {
  min-height: 1vh; padding: 2rem; background: #fff;
  font-size: 1.8rem;

  figure {
    display: block; width: 40%; margin: 0 auto 2rem; background-size: contain; background-position: center center;
    background-repeat: no-repeat;
    &:before { display: block; content: ""; padding-bottom: 100%; }
  }

  h2 {
    color: #55555D; font-size: 1.5em; font-weight: 400;
  }

  article {
    padding: 1.2em 0;
    font-weight: 300;

    p {
      margin-bottom: 0; line-height: 1.5;
    }
  }

  .contact {
    background: #fff;
    font-weight: 400;
    p {
      margin-bottom: .5em;
      line-height: 1.3;
      word-break: break-all;
    }
    strong { font-weight: 600; color: #cd695b; }
  }


  @media #{$tabletS} {
  }
  @media #{$phoneL} {
  }
  @media #{$phoneS} {
  }
}
