$priceBlockWidth: 25%;
$imgSize: 150px;
$orderInfoBlockWidth: 76%;
$textPaddingLeft: 30px;

.panningPane {
  .topText {
    // width: 300px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    @media ($bigds) {
      // width: 450px;
    }
  }
}

.clearCart {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;

  div {
    height: 100%;
  }

  img {
    display: block;
    width: auto;
    height: 60%;
  }

  span {
    margin-left: 1em;
    font-size: 1.1rem;
    line-height: 1em;
    color: #999;
    text-align: left;
  }
}

.cartContainer {
  background-color: #f6f5f3;
}

.emptyCart {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.3em;

  .img {
    display: block;
    width: 50%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  p {
    margin-top: 1.5em;
  }
  a {
    color: $brandPrimary;
  }
}

.cartHintBlock {
  background: transparent;
  text-align: center;
  font-size: 3.7vw;
  padding: 0.93em .5em;

  p {
    color: #999;
  }
}

.cartBlock {
  position: relative;
  width: 100%;
  overflow: auto;
  background: transparent;
  box-sizing: border-box;
}

.cartItem {
  position: relative;
  background: #fff;
  user-select: none;

  + .cartItem {
    border-top: 2px solid #f7f6f9;
  }

  .cartItemMain {
    padding: 45px 60px;
  }

  .cartItemSide {
    background: $brandHighlight;

    svg {
      height: 40%;
      fill: #fff;
    }
  }

  .quantity {
    float: right;
    height: $imgSize;
    display: flex;
    align-items: center;
  }

  .counter {
    font-size: 15px;
    width: 85px;
    height: 26px;
  }

  .image {
    float: left;
    font-size: 1em;
  }

  .price {
    float: right;
    width: $priceBlockWidth;
    
    p {
      font-size: 4em;
      line-height: 40px;
      font-weight: 700;
      color: #000;
      text-align: center;
      line-height: $imgSize;
      white-space: nowrap;

      span {
        font-size: 0.8em;
        font-weight: inherit; 
      }
    }
  }

  .text {
    display: table; width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;
    p {
      padding-left: $textPaddingLeft; overflow: hidden; display: table-cell; vertical-align: middle;
      color: #000;
    }
  }

  .orderItemBlock { position: relative; width: $orderInfoBlockWidth; }

  .sortableHandler {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-100%, -50%);
  }
}

.paymentBlock {
  position: relative; z-index: 1; width: 100%; padding: 0.7em 1em 1em; background: #fff; box-sizing: border-box;
  font-size: 12px; font-weight: 300;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.2);

  img { width: 26px; height: 26px; }

  .commentBlock {
    border-bottom: 1px solid #e8e8e8; padding-bottom: 0.1em;

    .input {
      font-size: 1.5em;
      line-height: 1.5em;
      border: 0;
      outline: none;
      padding: 0 1rem;

      &::placeholder { color: #B9BABC }
    }
  }

  .paymentOptions {
    margin-top: 1em;
    .btn {
      font-size: 1.3em; padding: 1em 0.5em; text-align: left; line-height: 1.2;
      img { padding-right: 1em; }
      .caption {
        flex: 0 1 auto;
        br { display: none; }
      }
    }
    .btn + .btn {
      // We might have an arbitrary number of .btn,
      //   so instead of using fix-percent flex attr,
      //   let's just flex and give 'em some margin
      margin-left: 0.31em;
    }
  }

  @media #{$phoneL} {
    font-size: 10px;
  }
}

// MEDIA QUERIES

@media #{$tabletL} {
  $priceBlockWidth: 23%;
  $imgSize: 150px;
  $orderInfoBlockWidth: 72%;
  $textPaddingLeft: 30px;

  .cartItem {
    font-size: 8px;
    .cartItemMain {
      padding: 35px 30px;
    }
    .orderItemBlock {
      display: flex;
      width: $orderInfoBlockWidth;
      .image { width: $imgSize; height: $imgSize; left: 0; @include transform(scale(1)); }
      .text { margin-left: 0; }
      .name { font-weight: 300; font-size: 3.5em; }
    }

    .text {
      min-height: $imgSize;
      p { padding-left: $textPaddingLeft; }
    }
    .quantity { height: $imgSize; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; }
    }
  }

  .cartBlock.sortable .cartItemMain {
    padding-left: 30px + 20px;
  }
}


@media #{$tabletM} {
  $priceBlockWidth: 23%;
  $imgSize: 150px;
  $orderInfoBlockWidth: 82%;
  $textPaddingLeft: 20px;

  .cartItem {
    font-size: 5px;
    .orderItemBlock {
      width: $orderInfoBlockWidth;
      .name { font-size: 4.2em; font-weight: 300; }
    }

    // .counter { .minus, .plus { width: 0; }}
    .text {
      width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;
      p { padding-left: $textPaddingLeft; }
    }
    .quantity { height: $imgSize; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; }
    }
  }
}


@media #{$tabletS} {
  $priceBlockWidth: 23%;
  $imgSize: 150px;
  $orderInfoBlockWidth: 79%;
  $textPaddingLeft: 20px;

  .cartItem {
    .orderItemBlock {
      width: $orderInfoBlockWidth;
      .image { width: $imgSize; height: $imgSize; left: 0; @include transform(scale(1)); }
      .text { margin-left: 0; }
      .name { font-size: 4em; font-weight: 300; }
    }
    // .counter { .minus, .plus { width: 0; }}
    .text {
      width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;
      p { padding-left: $textPaddingLeft; }
    }
    .quantity { height: $imgSize; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; }
    }
  }
}


@media #{$phoneXL} {
  $priceBlockWidth: 20%;
  $imgSize: 80px;
  $orderInfoBlockWidth: 77%;
  $textPaddingLeft: 10px;

  .cartItem {
    .cartItemMain {
      padding: 10px 10px 9px;
    }
    .orderItemBlock {
      font-size: 4px; width: $orderInfoBlockWidth;
      .image { width: $imgSize; height: $imgSize; left: 0; @include transform(scale(1)); }
      .text {
        margin-left: 0;
        p { white-space: normal; }
      }
    }
    .text {
      width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;
      p { padding-left: $textPaddingLeft; }
    }
    .quantity { height: $imgSize; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; font-size: 3.6em; }
    }
  }

  .cartBlock.sortable .cartItemMain {
    padding-left: 10px + 20px;
  }

  .paymentBlock {
    .paymentOptions {
      .btn {
        padding: 0.77em 0.5em;
        img {
          width: 20px;
          height: 20px;
          &.credit_card {
            width: 24px;
            height: 24px;
          }
        }
        .caption {
          br { display: block; }
        }
      }
    }
  }
}


@media #{$phoneL} {
  $priceBlockWidth: 25%;
  $imgSize: 80px;
  $orderInfoBlockWidth: 77%;
  $textPaddingLeft: 10px;

  .cartItem {
    .orderItemBlock {
      width: $orderInfoBlockWidth;
      .image { width: $imgSize; height: $imgSize; left: 0; @include transform(scale(1)); }
      .text { margin-left: 0; }
    }

    .text {
      width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;
      p { padding-left: $textPaddingLeft; white-space: normal; }
    }
    .quantity { height: $imgSize; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; }
    }
  }
}


@media #{$phoneM} {
  $priceBlockWidth: 30%;
  $imgSize: 40px;
  $orderInfoBlockWidth: 65%;
  $textPaddingLeft: 10px;

  .cartItem {
    .orderItemBlock {
      font-size: 4px; width: $orderInfoBlockWidth;
      .image { width: $imgSize; height: $imgSize; left: 0; @include transform(scale(1)); }
      .text { margin-left: 0; }
    }

    .text {
      width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;
      p { padding-left: $textPaddingLeft; white-space: normal; }
    }

    .quantity { height: $imgSize; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; }
    }
  }
}


@media #{$phoneS} {
  $priceBlockWidth: 30%;
  $imgSize: 40px;
  $orderInfoBlockWidth: 70%;
  $textPaddingLeft: 10px;

  .cartItem .orderItemBlock {
    .name { font-size: 300; font-size: 3.5em; }
    .text {
      width: calc(100% - #{$priceBlockWidth} - #{$imgSize}); min-height: $imgSize;

      p { padding-left: $textPaddingLeft; white-space: normal; }
    }
    .quantity { height: $imgSize; }
    .orderItemBlock { width: $orderInfoBlockWidth; }
    .price {
      width: $priceBlockWidth;
      p { line-height: $imgSize; }
    }
  }
}
