.menu-wrapper {
  background-color: #21202c;
}
.menu-item {
  position: relative;
  color: #fff;
  font-weight: 300;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  z-index: 0; // webkit needs z-index to crop border-radius and overflow

  + .menu-item {
    margin-top: 0;
  }

  .item-rounded {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 9px;
    border-radius: 10px;
    color: #fff;

    &.circle {
      border-radius: 50%;
    }
  }

  .item-unavailable {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 1px $brandPrimary;
    padding: 3px 7px;

    span {
      font-size: 12px;
      color: $brandPrimary;
      font-weight: 600;
    }
  }

  .item-default-icon {
    width: 30vw;
    height: 30vw;
  }

  .item-photo {
    position: relative;
    height: 50vw;
    background: no-repeat center;
    background-size: cover;
    color: #fff;
  }

  .item-details {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 6vw;
    padding: 3vw 6vw;
    background: linear-gradient(to top, rgba(32,32,44,0.76) 0%, transparent 100%);

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .backArrow { margin-left: 10px; background-image: url('../img/icons/back.svg'); }

    h2 {
      line-height: 1.3;
    }

    em, strong {
      font-weight: 400;
    }

    em {
      opacity: 0.4;
      font-size: 0.54em;
    }

    p {
      font-size: 0.63em;
      line-height: 1.2;
    }
  }

  > a {
    display: block;
  }

  &.item-template-image {
    .item-photo {
      background-size: 90%;
    }
  }

  // the product
  .product {
    .description {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      padding: 5vw 6vw;
      font-size: 1.4em;
      line-height: 1.2;
      background: rgba(255, 255, 255, 0.8);
      color: #21202c;
      overflow: hidden;
      opacity: 0;
      transition: opacity .3s ease-out;

      .title {
        flex: none;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .text {
        flex: auto;
        overflow: auto;
      }
    }

    .info-toggle {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
    }

    &.info-activated {
      .item-details {
        opacity: 0;
      }

      .description {
        opacity: 1;
        z-index: 10;
      }

      .info-toggle {
        &.open {
          display: none;
        }
        &.close {
          display: block;
        }
      }
    }
  }
}

// allow menu navigation inside frame
.inside-frame {
  .menu-item > a,
  .backArrow {
    pointer-events: auto;
  }
}


// TODO: redo below styles properly when changing the topbar styles

.backArrow {
  margin-left: 10px;
  background-image: url('../img/icons/back.svg');
}

@media #{$phoneM} {
  .backArrow { margin-left: -5px; }
}
