// TODO this orderBlock is such a mess
$star-dim: 40px;

.orderBlock {
  background: #e9e9ea;
  padding: 1px; // Prevents iOS rubber banding from revealing "ghost" content behind. https://www.youtube.com/watch?v=AFJZp6UdjXI

  .orderItem {
    background: #fff;
  }

  &.receipt {
    background: #f7f6f9;
  }
}


.orderItem {
  .orderItemBlock {
    width: 100%;
  }
  border-bottom: 5px solid #fff; height: auto; padding-right: 10px; padding-left: 10px; margin-bottom: 1px;

  &:last-child { border: 0; }

  .queue {
    // margin-top: 2em;
    text-align: center; width: 100%; display: inline-block;
    p { font-size: 3.6em; font-weight: bold; color: #23222e;}
    .bar { @include border-radius(15px); width: 100%; }
    .inQueue { @include background-horizontal($brandPrimary 30%, #e9e9ea 0%); }
    .preparing { @include background-horizontal($brandPrimary 50%, #e9e9ea 0%); }
    .ready { @include background-horizontal($brandPrimary 80%, #e9e9ea 0%); }
    .served { background: $brandPrimary; }
  }
  .text {
    line-height: 48px;
  }
  .rating {
    float: left;
    // margin-top: 3.5em;
    text-align: center;
    white-space: nowrap;
    .icon {
      display: inline-block;
      margin-right: 1.1em;
      font-size: 1em;
      fill: #d1d1d1;
      &:last-child { margin-right: 0; }
    }
    &.rating1 {
      .icon {
        &:nth-child(1) { fill: #f7705a; }
      }
    }
    &.rating2 {
      .icon {
        &:nth-child(1), &:nth-child(2) { fill: #f7705a; }
      }
    }
    &.rating3 {
      .icon {
        &:nth-child(1), &:nth-child(2), &:nth-child(3) { fill: #f7705a; }
      }
    }
    &.rating4 {
      .icon {
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) { fill: #f7705a; }
      }
    }
    &.rating5 {
      .icon {
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) { fill: #f7705a; }
      }
    }
  }
}


.orderFooter {
  width: 100%; height: 280px; text-align: center;
  background: url(../img/order/order_footer.png) no-repeat center bottom;
  p { font-size: 5.4em; font-weight: 300; color: #8484a6; padding-top: 185px; }
}


.star {
  margin: 0 auto; padding: 20px 0; width: 100%; text-align: center;
  img { margin: 0 20px; }
}


// MEDIA QUERIES
@media (min-width: 1100px) {
  .queue {
    margin-top: 2em;
  }
  .rating {
    margin-top: 3em;
    .icon {
      height: $star-dim;
      width: $star-dim;
    }
  }
}

@media #{$tabletL} {
  .orderBlock { font-size: 7px; }
  .queue {
    margin-top: 6em;
    p {
      margin-bottom: 15px;
    }
    .bar {
      padding: 10px 0;
    }
  }
  .rating {
    margin-top: 8em;
    .icon {
      height: $star-dim - 10;
      width: $star-dim - 10;
    }
  }
  .text > p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
  }
}


@media #{$tabletM} {
  .orderBlock { font-size: 6px; }
  .queue {
    margin-top: 8em;
    p {
      margin-bottom: 15px;
    }
    .bar {
      padding: 10px 0;
    }
  }
  .rating {
    margin-top: 10em;
    .icon {
      height: $star-dim - 15;
      width: $star-dim - 15;
    }
  }
  .text > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }
}


@media #{$tabletS} {
  .orderBlock { font-size: 5px; }

  .orderFooter {
    height: 200px; @include background-size(260px, auto);
    p { padding-top: 150px; }
  }
  .queue {
    margin-top: 10em;
    p {
      margin-bottom: 15px;
    }
    .bar {
      padding: 8px 0;
    }
  }
  .rating {
    margin-top: 12em;
    .icon {
      height: $star-dim - 20;
      width: $star-dim - 20;
    }
  }
  .text {
    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }
  }
}


@media #{$phoneXL} {
  .orderBlock { font-size: 4px; }
  .queue {
    margin-top: 6em;
    p {
      margin-bottom: 15px;
    }
    .bar {
      padding: 5px 0;
    }
  }
  .rating {
    margin-top: 8em;
    .icon {
      height: $star-dim - 25;
      width: $star-dim - 25;
    }
  }
  .text {
    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }
  }
}


@media #{$phoneM} {
  .orderFooter {
    height: 120px; @include background-size(40%, auto);
    p { padding-top: 75px; }
  }
  .queue {
    margin-top: 6em;
    p {
      margin-bottom: 15px;
    }
    .bar {
      padding: 5px 0;
    }
  }
  .rating {
    margin-top: 9em;
    margin-left: -10px;
    .icon {
      height: $star-dim - 28;
      width: $star-dim - 28;
    }
  }
  .text {
    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100px;
    }
  }
}


@media #{$phoneS} {
  .orderFooter {
    height: 100px;
    p { padding-top: 60px; }
  }
  .queue {
    margin-top: 6em;
    p {
      margin-bottom: 15px;
    }
    .bar {
      padding: 5px 0;
    }
  }
  .rating {
    margin-top: 8em;
    margin-left: -10px;
    .icon {
      height: $star-dim - 30;
      width: $star-dim - 30;
    }
  }
  .text {
    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }
  }
}
.topText.order {
  .items.back {
    padding-right: 1em;
  }
  span:nth-child(4) {
    margin-left: .5em;
  }
}
