.ordersListItem {
  display: block;
  padding: 30px;
  &:hover{
    cursor: pointer;
  }

  .orderInfo {
    line-height: 88px;

    .orderNumber, .orderStatus, .time, .date {
      line-height: 1.5em;
    }

    .orderStatus {
      color: $brandPrimary;
      font-weight: normal;
    }

    .orderNumber {
      min-width: 9em;
    }

    .orderInfoItem {
      display: inline-block;
      vertical-align: middle;
      small {
        display: block;
        font-size: 1em;
      }
    }
  }

  .receipt {
    line-height: 1em;
    padding-left: 30px;
    img {
      width: 48px;
    }
  }
}

.mainContainer {
  position: relative;
}
  .noorders {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -130px;
    left: 50%;
    margin-left: -140px;
    line-height: 1.5;
    width: 280px;
      img {
        width: 90px;
        margin-bottom: 32px;
      }
      .txt {
        font-size: 16px;
        a:hover, a:visited, a,span {
          color: $brandPrimary;
          display: block;
          margin-top: 22px;
        }
      }
  }


// MEDIA QUERIES

@media #{$tabletM} {
  .ordersListItem {
    padding: 0 30px;
  }
}

@media #{$phoneXL} {
  .ordersListItem {
    padding: 0 15px 0 30px;
    .receipt {
      padding-left: 20px;
      img {
        width: 32px;
      }
    }
  }
}


@media #{$phoneL} {
  .ordersListItem .orderInfo .time {
    margin-right: 10px;
  }
}


@media #{$phoneM} {
  .ordersListItem {
    padding: 0 5px 0 15px;

    .orderInfo {
      line-height: 68px;
    }

    .receipt img {
      width: 24px;
    }
  }
}
