.receipt { color: #7f7e82; }


.receiptDetails {
  background-color: #fff; position: relative; height: auto; padding: 1rem .5rem;

  .receiptInfo p {
    margin: 2em 0;
    &.instructions { color: #000; }
  }

  .firstBlock {
    padding: 0 8em;
    .orderInfo {
      display: flex; justify-content: space-between; align-items: center; padding-bottom: 1.4rem; border-bottom: 1px solid #f4f4f5;
      .orderNumber {
        span { font-size: 2.5rem; font-weight: bold; color: #333; }
      }

      .timeStamp {
        color: #919096;
        .date {
          width: 100%; font-size: 1.5rem; font-weight: normal;
          margin-bottom: .2em;
        }
        .time { font-weight: normal; font-size: 1.3rem; width: 100%; }
      }
      .paid-status {
        margin-top: .6em;
        font-size: 4em;
        color: $brandPrimary;
      }
      .time-date-sm { text-align: left; padding-top: 2rem; }

      .transaction-info { font-size: 3.5em; text-align: center; }

      canvas.qrcode { height: 250px; }
    }

    table {
      width: 100%; text-align: left; margin: 1.5em auto; font-size: 3.5em; font-weight: 300;
      td {
        padding: 0.9em 0; vertical-align: middle;
        &.title { color: #333; font-weight: bold; min-width: 7em; }
        &.price { text-align: right; }
        &.quantity { padding: 0 1rem; }
        &.cost { color: #333; font-weight: bold; text-align: right; }
      }
    }

    .total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.5rem;
      padding: .8em 0;
      border: none;
      border-top: 1px solid #f4f4f5;
      color: #908f95;
      font-weight: bold;

      .price {
        font-size: 2.5rem;
        color: #333;
      }

      .quantity {
        font-weight: normal;
        font-size: 1.5rem;
      }
    }

    .supplemental {
      padding-bottom: 6em;
      margin-bottom: 6em;
      border-bottom: 1px solid #f4f4f5;

      table {
        margin: 1.5rem 0 0;
        font-size: 3.8em;
        font-weight: 300;
        .desc {
          color: #111;
          padding-left: 1rem;
        }
      }
    }
    .gratuity-btn {
      button {
        .donation-icon {
          background: url('../img/local/donation.svg') no-repeat;
          background-size: 1.8rem;
          min-height: 2rem;
          padding-left: 2.5rem;
          display: inline-block;
        }
      }
    }
  }

  .secondBlock {
    font-size: 1.05rem; padding: 0 5em; margin-bottom: 3em;
    .manage { display: flex; justify-content: center; width: 100%;
      .group { display: flex; width: 100%; justify-content: space-between; align-items: center;
        div {
          a { color: #7f7e82; font-size: 1.5rem; }
          svg { fill: $brandPrimary; margin: auto; margin-bottom: 1em; }
          &.download {
            text-align: center;
            svg { width: 30px; height: 30px; }
          }
          &.email {
            text-align: center;
            svg { width: 30px; height: 30px; }
          }
        }
      }
      form {
        width: 100%;

        .input-mail-field { width: 90%; margin-top: 1.5rem; }

        input[type="email"] {
          border-bottom: 0.15rem solid #dedcd7; box-sizing: border-box; color: #555; padding: 0 0.4em;
          font: 300 1.5em / 1.4 Roboto; margin-bottom: 0.5em; width: 100%;
          &.ng-invalid.ng-dirty { border-color: #ed1010; }
        }

        button {
          width: 100%;

          .send-icon {
            background: url('../img/local/send.svg') no-repeat;
            background-size: 1.5rem;
            padding-left: 1.8rem;
            display: inline-block;
          }
        }
      }
    }
  }

  .waiter {
    display: inline-block; font-size: 4em; font-weight: 300; color: #7f7e82; padding-left: 80px;
    background: url(../img/order/waiter.png) no-repeat left;
    span { font-size: 1.35em; font-weight: 400; }
  }

  .tableNumber {
    font-size: 4em; font-weight: 300; color: #7f7e82; margin-left: 1em;
    span { font-size: 1.35em; font-weight: 400; }
  }

  .ring {
    position: relative; top: -10px; width: 200px; text-align: center;
    img { cursor: pointer; }
  }

  .total { padding-left: 1em; font-size: 1.5em; position: relative; bottom: -.06em; }

  address { font-size: 3em; }
}

.advert { display: block; margin: 3em auto; color: #71c0ff; font-size: 3.6em; text-align: center; }

.receiptFeedback {
  position: relative;
  padding: 2em 4em;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  background-color: #E9E9EA;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2rem;
    width: 100%;
    height: 2rem;
    background: url('../img/order/receipt-torn.svg') repeat-x 0 0 transparent;
  }

  .actionArea {
    margin: 0;
    svg { width: 100%; height: 60px; fill: #d0d0d0; }
    .btn {
      padding: 1em 2em; margin: 0; border: none; width: 100%; background: #fff;
      font-size: 1.5rem; font-weight: bold;
    }
  }

  .form {
    text-align: center;

    & form { padding-top: .9rem; }

    textarea {
      width: 100%; padding: 0.5em; box-sizing: border-box; border: 1px solid #eee; margin-bottom: 1rem;
      font-size: 1.6em;
    }
  }

  .feedback {
    text-align: left; padding: 15px;
    strong { font-weight: 400; }
    p { margin-top: 0.5em; }
  }
}

.firstBlock, .secondBlock {
  .gratuity-btn {
    text-align: center;

    button {
      width: 85%;
      color: #ea6854;
      border-color: #e9e9ea;
      border: 2px solid #e9e9ea;
      font-size: 1.5rem;
      font-weight: bold;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;

      &:hover {
        background: #e9e9ea;
        color: #ea6854;
      }
    }
  }
}

.pull-right {
  float: right;
  color: #dedcd7;
  display: inline-block;
}

.feedback-icon {
  background: url('../img/local/feedback_icon.svg') no-repeat;
  background-size: 1.5rem;
  min-height: 2rem;
  padding-left: 2rem;
  display: inline-block;
}

// MEDIA QUERIES

@media #{$tabletL} {
  .receiptDetails {
    .ring { width: 140px; }
    .receiptDetailsBottom { bottom: -27px; }
  }
}


@media #{$tabletM} {
  .receiptDetails {
    .firstBlock, .secondBlock {  }
    .ring { width: 120px; margin-top: -20px; @include transform(scale(0.8)); }
    .receiptDetailsBottom { bottom: -22px; }
  }
}


@media #{$tabletS} {
  .receiptDetails {
    .firstBlock, .secondBlock {  }
    .waiter { padding-left: 65px; @include background-size(30px, auto); }
    .tableNumber { margin-left: 2em; }
    .ring { width: 80px; @include transform(scale(0.5)); }
    .receiptDetailsBottom { bottom: -17px; }
  }
}


@media #{$phoneXL} {
  .receiptDetails {
    font-size: 4px;
    .firstBlock, .secondBlock { }
    .receiptDetailsBottom { bottom: -12px; }
  }
}


@media #{$phoneL} {
  .receiptDetails .waiter { padding-left: 45px; }
}


@media #{$phoneM} {
  .receiptDetails {
    .firstBlock {
      .orderInfo {
        canvas.qrcode { height: 100px; }
      }
    }
    .waiter {
      padding-left: 30px; @include background-size(17px, auto);
      span { font-size: 1.1em; font-weight: 400; }
    }
    .tableNumber {
      margin-left: 1em;
      span { font-size: 1.1em; font-weight: 400; }
    }
    .ring { width: auto; height: 60px; margin-top: -15px; @include transform(scale(0.4)); }
    .receiptDetailsBottom { bottom: -8px; }
  }
}
