.translateContainer {
  // TODO we're using a random grey, use a global one
  padding: 3rem;

  p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  // TODO should be a global stated link instead of specific style like this
  .noTranslate {
    color: $brandPrimary;
  }
}
