@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
	background-color: white;
}

.landing_page {
	position: relative;
	overflow: auto;

	.browncolor {
		background-color: #F6F5F3;
		width: 100%;
		height: 355px;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	.content {
		padding: 50px 20px 0px 20px;
	}

	img {
		display: block;
	}
	
	.logo-mycelium-swish {
		margin: 0 auto 40px auto;
		max-width: 167px;
		img {
			width: 100%;
			margin: 0 auto;
		}
	}
	
	.illustration {
		max-width: 329px;
		margin: 0 auto;
		position: relative;
		img {
			width: 100%;
		}
		span {
			position: absolute;
			top: 8.5rem;
    		left: 2.2rem;
			font-size: 180%;
			width: 100px;
			text-align: center;
			line-height: 1.2;
			font-family: 'Varela Round', sans-serif;
			@media (max-width: 400px) {
				top: 7.7rem;
				left: 1.1rem;
				font-size: 140%;
				top: 34%;
    			left: 6%;
			}
		}
	}

	.txt {
		text-align: center;
		max-width: 296px;
		margin: 0 auto;
		margin-top: 15px;
		padding: 30px;
		background-image: url(../img/bkg-starts.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: 296px;
		h1 { 
			font-size: 24px;
			margin-bottom: 15px;
			color: #212224;
		}
		p {
			font-size: 22px;
			font-weight: 100;
			color: #A2A2A2;
			line-height: 1.3;
		}
		span {
			display: block;
			color: #EA6854;
		}
	}

	.footer {
		img {
			max-width: 88px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
}