.callWaiter
  .callwaiter-message
    textarea(placeholder="{{'CALL_WAITER.MESSAGE_PLACEHOLDER' | translate}}" ng-model="message" length-limit="300")
  button.btn.inverse(ng-click="ctrl.callWaiter(orderId, message); ctrl.close();")
    span.bell(translate="CALL_WAITER.BUTTON_CALL_WAITER_MESSAGE")
