.cartStatsContainer
  .cart(
    ng-class="{ active: CartSummaryCtrl.totals.quantity && !CartSummaryCtrl.shouldCartHide }"
    ui-sref="main.cart"
  )
    .lead.icon
      .cartIcon
    .label(translate="CART.TOP_BAR.REVIEW")

    .content(ng-if="CartSummaryCtrl.totals")
      span.items(
        translate="CART.TOP_BAR.N_ITEM",
        translate-values="{ N: CartSummaryCtrl.totals.quantity }",
        translate-interpolation="messageformat"
      )
      span.price
        | {{ CartSummaryCtrl.totals.price | price }}
