include ../mixin/_counter

.panningBox.shift(
  ng-init="expanded=false",
  ng-class="{ showRight: expanded }",
  ng-swipe-left="expanded=true",
  ng-swipe-right="expanded=false"
)
  .panningHelper
    .panningPane.main.cartItemMain
      .orderItemBlock(ng-controller="ImageController as ImageCtrl" image-size="67x67")
        span.sortableHandler
        .image(ng-style="ImageCtrl.backgroundStyles", ng-class="{ 'item-no-image': ImageCtrl.noImage }")
          svg.item-default-icon: use(xlink:href="assets/img/global/sprite.svg#product")
        
        .text
          p.name {{ item.product.name }}

        .price
          p
            | {{ ProductCtrl.getPrice(item) | price }}


      .quantity
        +counter("CART.TOP_BAR.ADD")

      .clear

    .panningPane.side.right.cartItemSide.layout-row.layout-align-center-center(
      ng-click="ProductCtrl.setQuantity(0)"
    )
      svg: use(xlink:href="assets/img/global/sprite.svg#trash")
