mixin payButton(method, textKey, icon)
  button.btn.highlight.flex(
    ng-click="CartCtrl.checkout(CartCtrl.METHODS.#{method}); method = '#{method}'"
    ng-disabled="CartCtrl.paymentLoading || !CartCtrl.isOrderPointAvailable"
    ng-hide="'#{method}' === 'CASH' && !CartCtrl.isCashAvailable()"
  )
    .layout-row.layout-align-center-center
      .flex-none: img(src="assets/img/local/#{icon}.svg" class="#{icon}")
      .flex.caption(ng-class="{ 'hidden': CartCtrl.paymentLoading && method === '#{method}' }" translate="#{textKey}")
      .flex-none(us-spinner="", spinner-theme="button", spinner-on="CartCtrl.paymentLoading && method === '#{method}'")

mixin payCashButton(method, textKey, icon)
  button.btn.highlight.flex(
    ng-click="CartCtrl.showPaymentCashModal = true; method = '#{method}'"
    ng-disabled="CartCtrl.paymentLoading || !CartCtrl.isOrderPointAvailable"
    ng-hide="'#{method}' === 'CASH' && !CartCtrl.isCashAvailable()"
  )
    .layout-row.layout-align-center-center
      .flex-none: img(src="assets/img/local/#{icon}.svg" class="#{icon}")
      .flex.caption(ng-class="{ 'hidden': CartCtrl.paymentLoading && method === '#{method}' }" translate="#{textKey}")
      .flex-none(us-spinner="", spinner-theme="button", spinner-on="CartCtrl.paymentLoading && method === '#{method}'")



.paymentBlock.flex-none.layout-padding(
  ng-show="CartCtrl.paymentLoading || !CartCtrl.isCartEmpty()"
)
  .commentBlock.layout-row
    .flex-none: img(src="assets/img/local/comment.svg")
    input.input.flex(
      ng-model="CartCtrl.comment",
      placeholder="{{ 'CART.PAYMENT_BAR.COMMENT' | translate }}"
    )

  .paymentOptions.layout-row
    +payButton('BITCOIN', 'CART.PAYMENT_BAR.BITCOIN', 'bitcoin')
    +payButton('CREDIT_CART', 'CART.PAYMENT_BAR.CREDIT_CART', 'credit_card')
    +payCashButton('CASH', 'CART.PAYMENT_BAR.CASH', 'cash')
