include ../mixin/_top_bar
include ../mixin/_modal


+topBar
  .topText.topTextLeft(ng-controller="CartSummaryController as CartSummaryCtrl")
    .orderSummary(ng-if="CartSummaryCtrl.totals")
      span.items(
        translate="CART.TOP_BAR.N_ITEM",
        translate-values="{ N: CartSummaryCtrl.totals.quantity }",
        translate-interpolation="messageformat"
      )
      |  = 
      span.price {{ CartSummaryCtrl.totals.price | price }}

  .topText.topTextRight
    button.clearCart(
      title="{{ 'Clear Cart' | translate }}"
      ng-if="!CartCtrl.isCartEmpty()"
      ng-click="CartCtrl.showClearCartModal=true"
    )
      div: img(src="assets/img/icons/clear_cart.png")
      span
        | Clear all


.mainContainer.cartContainer.flex.layout-column(ng-if="CartCtrl.products")
  .flex.layout-column(ng-if="!CartCtrl.isCartEmpty()")
    .cartHintBlock.flex-none
      p(translate="CART.TEXT")

    .cartBlock.flex(
      ng-class="{ sortable: CartCtrl.productSortable.sorting }",
      ng-sortable="CartCtrl.productSortable"
    )
      .cartItem(
        ng-repeat="item in CartCtrl.products | orderBy:'-priority'",
        ng-controller="CartProductController as ProductCtrl"
      )
        include _cart_item

    include _payment_bar

  .emptyCart.flex.layout-column.layout-align-center-center(ng-if="CartCtrl.isCartEmpty()")
    .img.flex-none
      img(src="assets/img/empty_cart.png")
    div.flex-none(translate="CART.EMPTY", translate-compile)


//- MODALS
+modal('CartCtrl.showClearCartModal')
  .confirmation
    .content
      p(translate="CART.CLEAR_CONFIRM.TEXT")

    .actions
      button.flat.primary(ng-click="CartCtrl.clearCart()", translate="CART.CLEAR_CONFIRM.OK")
      button.flat(ng-click="CartCtrl.showClearCartModal=false", translate="CART.CLEAR_CONFIRM.CANCEL")

+modal('CartCtrl.showPaymentUnavailableModal')
  .confirmation
    .content
      p(translate="CART.PAYMENT_UNAVAILABLE.TEXT")

    .actions
      button.flat.primary(ng-click="CartCtrl.showPaymentUnavailableModal=false", translate="CART.PAYMENT_UNAVAILABLE.OK")

+modal('CartCtrl.showWaitersUnavailableModal')
  .confirmation
    .content
      p(translate="CART.WAITERS_UNAVAILABLE.TEXT")

    .actions
      button.flat.primary(ng-click="CartCtrl.showWaitersUnavailableModal=false", translate="CART.WAITERS_UNAVAILABLE.OK")

+modal('CartCtrl.showPaymentCashModal')
  .confirmation
    .content
      p(translate="CART.CASH_CONFIRM.TEXT")

    .actions
      button.flat.primary(ng-click="CartCtrl.checkout(CartCtrl.METHODS.CASH);CartCtrl.showPaymentCashModal=false", translate="CART.CASH_CONFIRM.OK")
      button.flat(ng-click="CartCtrl.showPaymentCashModal=false", translate="CART.CASH_CONFIRM.CANCEL")
